<h1>Contract list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Begin</th>
            <th>Endwarranty</th>
            <th>End</th>
            <th>Turnover</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('jlm_contract_contract_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.number }}</td>
            <td>{% if entity.begin %}{{ entity.begin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.endWarranty %}{{ entity.endWarranty|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.end %}{{ entity.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.turnover }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('jlm_contract_contract_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('jlm_contract_contract_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('jlm_contract_contract_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
