{% set flag = true %}
<div class="pagination pagination-centered">
    <ul>
        <li{% if pagination.page == 1 %} class="disabled"{% endif %}><a href="{{ path(pagination.route,pagination.route_params|merge({'page' : pagination.page - 1 })) }}">«</a></li>
		{% for p in range(1,pagination.pages_count) %}
		{% if (p > pagination.page - 3 and p < pagination.page + 3) or p == 1 or p == pagination.pages_count or (p < 6 and pagination.page < 6) %}
		<li{% if p == pagination.page %} class="active"{% endif %}><a href="{{ path(pagination.route,pagination.route_params|merge({ 'page' : p })) }}">{{ p }}</a></li>
		{% set flag = true %}
		{% elseif (p % 10 == 0 and (p > pagination.page - 30 and p < pagination.page + 30)) or p % 100 == 0 %}
		<li><a href="{{ path(pagination.route,pagination.route_params|merge({ 'page' : p })) }}">{{ p }}</a><li>
		{% set flag = true %}
		{% elseif flag %}
		<li><a href="#">...</a></li>
		{% set flag = false %}
		{% endif %}
		{% endfor %}
		<li{% if pagination.page == pagination.pages_count %} class="disabled"{% endif %}><a href="{{ path(pagination.route,pagination.route_params|merge({ 'page' : pagination.page + 1 })) }}">»</a></li>
	</ul>
</div>