{% extends "JLMContactBundle:Contact:show.html.twig" %}


{% block special %}
<button class="btn" id="add-corporationcontact">Nouvelle</button>
<table class="table table-bordered" id="contacts-list">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Rôle</th>
      <th>Téléphones</th>
  </thead>
  <tbody>
    {% for contact in entity.contacts %}
    <tr>
      <td><a href="{{ path('jlm_contact_contact_show', {'id': contact.id} ) }}">{{ contact.name }}</a></td>
      <td>{{ contact.position }}</td>
      <td>
        <ul>
        {% for phone in contact.phones %}
          <li>{{ phone }}</li>  
        {% endfor %}
        </ul>
      </td>
      <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
      <td><button class="btn btn-danger"><i class="icon-white icon-minus-sign"></i></button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


{% block javascripts_script %}
{{ parent() }}
$("#add-corporationcontact").formModal({
   	urlModal: '{{ path('jlm_contact_corporationcontact_new', {'corporation_id': entity.id }) }}',
    closure: function(data) {
    	console.log(data);
    	var $phones = $('<ul/>');
    	var email = (data.contact.email === null) ? '' : '<a href="mailto:' + data.contact.email + '">' + data.contact.email + '</a>';
    	
    	$.each(data.contact.phones, function(index, phone) {
    	    $phones.append($('<li/>').html(phone.label + ' : ' + phone.phone.number));
    	})
    	
    	var $line = $('<tr/>');
    	$line.append($('<td/>').html('<a href="' + data.contact.link + '">' + data.contact.title + ' ' + data.contact.name + '</a>'))
    	     .append($('<td/>').html(data.position))
    		 .append($('<td/>').html($phones))
    	     .append($('<td/>').html(email))
    	     .append($('<td/>').html('<button class="btn btn-danger"><i class="icon-white icon-minus-sign"></i></button>'));
    	$("#contacts-list tbody").append($line);
    	$("#modals .modal").modal('hide');
    	$("#modals").empty();
    }
});
{% endblock %}
