{% extends "JLMOfficeBundle:Quote:layout.html.twig" %}

{% form_theme edit_form with 'JLMOfficeBundle:Form:quote.html.twig' %}

{%- block title -%}n°{{ entity.number }} (edition) | n°{{ entity.quote.number }} | {{ parent() }}{%- endblock title -%}

{% block content %}
<div class="page-header">
  <h1>Devis <small>{{ entity.number }}</small></h1>
</div>
{% if form_errors(edit_form) %}
<div class="alert">{{ form_errors(edit_form) }}</div>
{% endif %}
{% include 'JLMOfficeBundle:Quote:showheader.html.twig' with {'quote': entity.quote} %}
{#}<form action="{{ path('variant_update', { 'id' : entity.id}) }}" method="post" {{ form_enctype(edit_form) }}>
  <div class="row">
    <div class="col-md-12">
  
{#}    {{ form(edit_form) }}
{#}	<div class="form-actions">
	  <a href="{{ path('quote_show', { 'id' : entity.quote.id }) }}" class="btn"><i class="icon-arrow-left"></i> Retour au devis</a>
	  <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer les modifications</button>
	</div>
  </fieldset>
</form>
{#}
<input type="hidden" value="{{ (entity.quote.vat*100) | number_format(1,',',' ') }}" id="quote_vat">
<input type="hidden" value="{{ (entity.quote.vatTransmitter*100) | number_format(1,',',' ') }}" id="quote_vatTransmitter">
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
	'@JLMOfficeBundle/Resources/public/js/quote.js'
	filter='yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
$("body").quotevariant({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ edit_form.lines | length }}
});
</script>
{% endblock %}