{% extends "JLMOfficeBundle:Quote:layout.html.twig" %}

{% form_theme form with 'JLMOfficeBundle:Form:quote.html.twig' %}

{%- block title -%}Nouvelle variante | n°{{ entity.quote.number }} | {{ parent() }}{%- endblock title -%}

{% block content %}
<div class="page-header">
  <h1>Nouvelle variante <small>{{ entity.quote.number }}</small></h1>
</div>
{% include 'JLMOfficeBundle:Quote:showheader.html.twig' with {'quote': entity.quote} %}
{{ form(form) }}
<input type="hidden" value="{{ (entity.quote.vat*100) | number_format(1,',',' ') }}" id="quote_vat">
<input type="hidden" value="{{ (entity.quote.vatTransmitter*100) | number_format(1,',',' ') }}" id="quote_vatTransmitter">
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
	'@JLMOfficeBundle/Resources/public/js/quote.js'
	filter='yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
$("body").quotevariant({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ form.lines | length }}
});
</script>
{% endblock %}