{% extends "JLMOfficeBundle:Quote:layout.html.twig" %}
{% form_theme form with 'JLMOfficeBundle:Form:quote.html.twig' %}
{% block content %}
<h1>Nouvelle variante <small>{{ entity.quote.number }}</small></h1>
{% if form_errors(form) %}
<div class="alert">{{ form_errors(form) }}</div>
{% endif %}
{% include 'JLMOfficeBundle:Quote:showheader.html.twig' with {'quote': entity.quote} %}
<form action="{{ path('variant_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
  <fieldset>
  <input type="hidden" value="{{ (entity.quote.vat*100) | number_format(1,',',' ') }}" id="quote_vat">
  <input type="hidden" value="{{ (entity.quote.vatTransmitter*100) | number_format(1,',',' ') }}" id="quote_vatTransmitter">
    {{ form_widget(form) }}
	<div class="form-actions">
	  <a href="{{ path('quote') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	  <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer les modifications</button>
	</div>
  </fieldset>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmoffice/js/quote.js") }}"></script>
<script>
$("body").quotevariant({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ form.lines | length }}
});
</script>
{% endblock %}