{# @JLMDaily/recuperationequipment/new.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Ajout d'un technicien sur une intervention</h1>
<h4>{{ shifting.place | nl2br }}</h4>
<form action="{{ path('shifting_create',{'id':shifting.id}) }}" method="post" class="form-horizontal">
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('daily') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
	</fieldset>
</form>
{% endblock %}
