{% extends "JLMModelBundle::layout.html.twig" %}
{% form_theme edit_form 'JLMModelBundle:Form:fee.html.twig' %}
{% block content %}
<h1>Edition redevance</h1>
<form action="{{ path('fee_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
    <div class="form-actions">
	   <a href="{{ path('fee_show',{'id':entity.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche redevance</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmmodel/js/fee.js") }}"></script>
<script>
$("body").fee({
	 autoSource:'{{ path('autocomplete') }}',
	 lineCount:{{ edit_form.contracts | length }},
});
</script>
{% endblock %}