<li role="presentation"><a role="menuitem" href="{{ path('bill_todo') }}"><span class="badge pull-right">{{ count.todo }}</span>A faire</a></li>
<li role="presentation"><a role="menuitem" href="{{ path('bill') }}"><span class="badge pull-right">{{ count.all }}</span>Toutes</a></li>
<li role="presentation"><a role="menuitem" href="{{ path('bill_listinseizure', {'page':1 }) }}"><span class="badge pull-right">{{ count.input }}</span>En saisie</a></li>
<li role="presentation"><a role="menuitem" href="{{ path('bill_listsended', {'page':1 }) }}"><span class="badge pull-right">{{ count.send }}</span>Envoyée</a></li>
<li role="presentation"><a role="menuitem" href="{{ path('bill_listpayed', {'page':1 }) }}"><span class="badge pull-right">{{ count.payed }}</span>Réglées</a></li>
<li role="presentation"><a role="menuitem" href="{{ path('bill_listcanceled', {'page':1 }) }}"><span class="badge pull-right">{{ count.canceled }}</span>Annulées</a></li>