<li><a href="{{ path('bill_todo') }}"><span class="badge badge-warning">{{ todo }}</span> A faire</a></li>
<li><a href="{{ path('bill') }}"><span class="badge badge-inverse">{{ all }}</span> Toutes</a></li>
<li><a href="{{ path('bill_state', {'page':1, 'state':0 }) }}"><span class="badge">{{ input }}</span> En saisie</a></li>
<li><a href="{{ path('bill_state', {'page':1, 'state':1 }) }}"><span class="badge badge-info">{{ send }}</span> Envoyée</a></li>
<li><a href="{{ path('bill_state', {'page':1, 'state':2 }) }}"><span class="badge badge-success">{{ payed }}</span> Réglées</a></li>
<li><a href="{{ path('bill_state', {'page':1, 'state':-1 }) }}"><span class="badge badge-important">{{ canceled }}</span> Annulées</a></li>