{% block jlm_contact_address_widget %}
  {% spaceless %}
    {{ form_widget(form.street, { 'attr': {'placeholder': 'Adresse'}}) }}<br>
    {{ form_widget(form.city, { 'attr': {'placeholder': 'Ville', 'class': 'input-large'}}) }}
    {{ form_errors(form.street) }}
    {{ form_errors(form.city) }}
  {% endspaceless %}
{% endblock jlm_contact_address_widget %}

{% block jlm_contact_person_select_widget %}
  {% spaceless %}
    {% set type = 'hidden' %}
    {{ block('form_widget_simple') }}
    <input type="text" id="{{ id }}_selector" class="autocompletion" data-source="{{ path('jlm_contact_ajax_person_autocomplete') }}">
  {% endspaceless %}
{% endblock jlm_contact_person_select_widget %}

{% block _jlm_contact_person_title_widget %}
  {{ form_widget(form, {'attr': {'class': 'input-small'}}) }}
{% endblock %}

{% block _jlm_contact_person_email_widget %}
  {{ form_widget(form, {'attr': {'class': 'input-xlarge'}}) }}
{% endblock %}

{% block jlm_contact_phone_row %}
  {{ form_widget(form.label, {'attr': {'class': 'input-medium', 'placeholder': form.label.vars.label }}) }}&nbsp;
  {{ form_widget(form.number, {'attr': {'class': 'input-medium', 'placeholder': form.number.vars.label }}) }}&nbsp;
  <button class="btn btn-danger btn-small remove-phone"><i class="icon-minus-sign icon-white"></i></button>
  {{ form_errors(form) }} 
{% endblock %}

{% block jlm_contact_phonecollection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' unstyled')|trim }) -%}
    <ul {{ block('widget_container_attributes') }}>
		{{ block('jlm_contact_phonecollection_rows') }}
    </ul>
	{{ form_rest(form) }}
    <button id="add-another-phone" class="btn">Ajouter un numéro</button>
{% endspaceless %}
{% endblock %}

{% block jlm_contact_contact_row %}{{ form_widget(form) }}{% endblock %}
{% block jlm_contact_contact_widget %}
    {% if form.parent is empty %}
      	{% if form_errors(form) %}
            <div class="alert">{{ form_errors(form) }}</div>
        {% endif %}
    {% endif %}
    {{ block('form_rows') }}
    {{ form_rest(form) }}
{% endblock %}

{% block jlm_contact_phonecollection_rows %}
    {% for child in form -%}
        <li>{{ form_row(child) }}</li>
    {%- endfor %}
{% endblock %}

{% block _jlm_contact_company_email_widget %}
  {{ form_widget(form, {'attr': {'class': 'input-xlarge'}}) }}
{% endblock %}
