{% block jlm_contact_selectcontacttype_modalbutton %}
{% spaceless %}
    	<a href="#{{ id }}_modal" class="modal-caller btn btn-warning select2-select" data-toggle="modal" route="{{ path('jlm_contact_contact_edit', {'id':0})|replace('0','$') }}"><i class="icon-white icon-pencil"></i> Editer</a>
    	&nbsp;<div class="btn-group">
		    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-white icon-plus-sign"></i> Ajouter <span class="caret"></span></a>
		    <ul class="dropdown-menu">
		    	<li><a href="#{{ id }}_modal" class="modal-caller" data-toggle="modal" route="{{ path('jlm_contact_person_new') }}">Personne</a></li>
		    	<li><a href="#{{ id }}_modal" class="modal-caller" data-toggle="modal" route="{{ path('jlm_contact_person_new') }}">Entreprise</a></li>
		    </ul>
	    </div>
    {% endspaceless %}
{% endblock jlm_contact_selectcontacttype_modalbutton %}