{% block jlm_contact_selectcontacttype_modalbutton %}
{% spaceless %}
    	<a href="#{{ id }}_modal" class="modal-caller btn btn-warning select2-select" data-toggle="modal" route="{{ path('jlm_contact_contact_edit', {'id':0})|replace('0','$') }}"><i class="icon-white icon-pencil"></i> Editer</a>
    	&nbsp;<div class="btn-group">
		    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-white icon-plus-sign"></i> Ajouter <span class="caret"></span></a>
		    <ul class="dropdown-menu">
		    	<li><a href="#{{ id }}_modal" class="modal-caller" data-toggle="modal" route="{{ path('jlm_contact_person_new') }}">Personne</a></li>
		    	<li><a href="#{{ id }}_modal" class="modal-caller" data-toggle="modal" route="{{ path('jlm_contact_person_new') }}">Entreprise</a></li>
		    </ul>
	    </div>
    {% endspaceless %}
{% endblock jlm_contact_selectcontacttype_modalbutton %}

{% block jlm_contactbundle_persontype_widget %}
<div class="modal-body" {{ block('widget_container_attributes') }}>
{% if form.parent is empty %}
        	{% if form_errors(form) %}
            <div class="alert">{{ form_errors(form) }}</div>
            {% endif %}
        {% endif %}
{{ form_label(form.lastName) }}
{{ form_widget(form.title) }}
{{ form_widget(form.firstName) }}
{{ form_widget(form.lastName) }}
</div>
    <div class="modal-footer">
    	{{ form_rest(form) }}
    </div>
{% endblock jlm_contactbundle_persontype_widget %}