{# JLMDailyBundle:Default:sidebar.html.twig #}
<li><a href="{{ path('intervention_today') }}"><span class="badge pull-right">{{ today }}</span> Aujourd'hui</a></li>
<li><a href="{{ path('daily_door_stopped') }}"><span class="badge pull-right">{{ stopped }}</span> A l'arrêt</a></li>
<li><a href="{{ path('fixing_list') }}"><span class="badge pull-right">{{ fixing }}</span> Dépannages</a></li>
<li><a href="{{ path('work_list') }}"><span class="badge pull-right">{{ work }}</span> Travaux</a></li>
<li><a href="{{ path('maintenance_list') }}"><span class="badge pull-right">{{ maintenance }}</span> Entretiens</a></li>