{# JLMDailyBundle:Default:sidebar.html.twig #}
<li><a href="{{ path('intervention_today') }}"><span class="badge badge-success">{{ today }}</span> Aujourd'hui</a></li>
<li><a href="{{ path('daily_door_stopped') }}"><span class="badge badge-important">{{ stopped }}</span> A l'arrêt</a></li>
<li><a href="{{ path('fixing_list') }}"><span class="badge badge-warning">{{ fixing }}</span> Dépannages</a></li>
<li><a href="{{ path('work_list') }}"><span class="badge badge-info">{{ work }}</span> Travaux</a></li>
<li><a href="{{ path('maintenance_list') }}"><span class="badge">{{ maintenance }}</span> Entretiens</a></li>