{% extends "JLMOfficeBundle:Task:layout.html.twig" %}

{% block content %}
{% if type %}
<a href="{{ path('task_print_type',{'type':type}) }}" class="btn btn-info"><i class="icon-white icon-print"></i> Imprimer la liste</a>
{% else %}
<a href="{{ path('task_print') }}" class="btn btn-info"><i class="icon-white icon-print"></i> Imprimer la liste</a>
{% endif %}
<h1>Liste des
{% if type == 1 %}factures à faire
{% elseif type == 2 %}devis à faire
{% elseif type == 3 %}fiches travaux à faire
{% elseif type == 4 %}clients à contacter
{% elseif type == 6 %}travaux à plannifier
{% else %}tâches
{% endif %}</h1>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Lieu</th>
            <th>Syndic</th>
            <th>A faire</th>
            <th>Details</th>
			<th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    	<tr>
            <td>{{ entity.open | date('d/m/Y') }}</td>
            <td><a href="{{ entity.urlSource }}">{% if entity.door %}<strong>{{ entity.door.site.address.city.name | upper }}</strong> <small>{{ entity.door.site.address.city.zip }}</small><br>{{ entity.door.street | nl2br }}{% else %}{{ entity.place | nl2br }}{% endif %}</a></td>
            <td>{% if entity.door %}{% if entity.door.actualContract %}{{ entity.door.actualContract.trustee }}{%else%}{{ entity.door.site.trustee }}{%endif%}{% endif %}</td>
            <td><strong>{% if entity.urlAction %}<a href="{{ entity.urlAction }}">{{ entity.type }}</a>{% else %}{{ entity.type }}{% endif %}</strong></td>
            <td>{% if entity.door %}<strong>{{ entity.door.type }} - {{ entity.door.location }}</strong><br>{% endif %}{{ entity.todo | nl2br}}</td>
			<td>
				<a href="{{ path('task_edit',{'id':entity.id}) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
				<a href="{{ path('task_close',{'id':entity.id}) }}" class="btn btn-primary"><i class="icon-ok icon-white"></i> Fait</a>
			</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination pagination-centered">
	<ul>
	    <li{% if page == 1 %} class="disabled"{% endif %}><a href="{% if type is null %}{{ path('task_page',{ 'page' : page-1 }) }}{% else %}{{ path('task_type',{ 'type' : type, 'page' : page-1 }) }}{% endif %}">«</a></li>
		{% for p in range(1,nbPages) %}
		<li{% if p == page %} class="active"{% endif %}><a href="{% if type is null %}{{ path('task_page',{ 'page' : p }) }}{% else %}{{ path('task_type',{ 'type' : type, 'page' : p }) }}{% endif %}">{{ p }}</a></li>
		{% endfor %}
		<li{% if page == nbPages %} class="disabled"{% endif %}><a href="{% if type is null %}{{ path('task_page',{ 'page' : page+1 }) }}{% else %}{{ path('task_type',{ 'type' : type, 'page' : page+1 }) }}{% endif %}">»</a></li>
	</ul>
</div>
{% endblock %}