<li><a href="{{ path('task') }}"><span class="badge badge-inverse">{{ all }}</span> Toutes les tâches</a></li>
<li><a href="{{ path('task_type',{'page':1,'type':2}) }}"><span class="badge badge-important">{{ quotes }}</span> Devis</a></li>
<li><a href="{{ path('task_type',{'page':1,'type':3}) }}"><span class="badge badge-warning">{{ orders }}</span> Commandes</a></li>
<li><a href="{{ path('task_type',{'page':1,'type':1}) }}"><span class="badge badge-success">{{ bills }}</span> Factures</a></li>
<li><a href="{{ path('task_type',{'page':1,'type':6}) }}"><span class="badge badge-info">{{ works }}</span> Travaux à planifier</a></li>
<li><a href="{{ path('task_type',{'page':1,'type':4}) }}"><span class="badge">{{ contacts }}</span> Clients à contacter</a></li>