{# JLMDailyBundle:Intervention:list.html.twig #}
{% if entities|length == 0 %}
<p>Aucune intervention</p>
{% else %}
<div class="panel panel-default">
  <div class="panel-body row">
    <div class="col-lg-1">Date</div>
    <div class="col-lg-1">Syndic</div>
    <div class="col-lg-3">Affaire</div>
    <div class="col-lg-3">Installation</div>
    <div class="col-lg-1">Contact</div>
    <div class="col-lg-2">Raison</div>
    <div class="col-lg-1">Techniciens</div>
  </div>
</div>
{% for entity in entities %}
  {% if entity.type != 'equipment' %}
    <div class="panel panel-
      {%- if entity.state == 0 -%}
        default
      {%- elseif entity.state == 1 -%}
        warning
      {%- elseif entity.state == 2 -%}
        info
      {%- elseif entity.state == 3 -%}
        success
      {%- else -%}
        danger
      {%- endif -%}
    " data-toggle="collapse" href="#collapse{{ entity.id }}">
      <div class="panel-heading row">
        <div class="col-lg-1">
          {% include "JLMDailyBundle:Intervention:labeltype.html.twig" with {'type' : entity.type} %}
          <br>
	      <small>
		    {%- if entity.firstDate -%}
		      {%- if entity.lastDate != entity.firstDate -%}
		        du {{ entity.firstDate | localizeddate('full', 'none') }}
	            <br>au {{ entity.lastDate | localizeddate('full', 'none') }}
		      {%- else -%}
		        {{ entity.firstDate | localizeddate('full', 'none') }}
			  {%- endif -%}
            {%- else -%}
			  {{ entity.creation | localizeddate('full', 'none') }}
		    {%- endif -%}
          </small>
	    </div>
        <div class="col-lg-1">
          <small>{% if entity.door.actualContract %}{{ entity.door.actualContract.trustee }}{% else %}{{ entity.door.site.trustee }}{% endif %}</small>
        </div>
        <div class="col-lg-3">
          {% if entity.door %}
			{% if entity.door.blocked %}<span class="label label-important">Facture en retard</span><br>{% endif %}
          {% endif %} 
{#}<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'show'}) }}">{#}
            {% if entity.door %}
              <strong>{{ entity.door.site.address.city.name | upper }}</strong>
              <small>{{ entity.door.site.address.city.zip }}</small><br>
              {{ entity.door.site.address.street | nl2br }}
            {% else %}
              {{ entity.place | nl2br }}
            {% endif %}
{#}</a>{#}
        </div>
        <div class="col-lg-3">
          {% if entity.door %}
            <span class="label label-primary">
              {%- if entity.dynContract is null -%}
                HC
              {%- else -%}
                {{ entity.dynContract }}
              {%- endif -%}
            </span>
            {% if entity.door.stopped -%}
              <span class="label label-danger">Mise à l'arrêt</span>
            {%- endif %}
            {% if entity.door.waitMaintenance -%}
              <span class="label label-default">
                {%- if entity.door.numberWaitMaintenance == 1 -%}
                  1er
                {%- else -%}
                  2ème
                {%- endif %}
                entretien à faire
              </span>
            {%- endif %}
            <br>
            <strong>{{ entity.door.type }} - {{ entity.door.location }}</strong>
            <br>
            {{ entity.door.street|nl2br }}
          {% endif %}	
        </div>
        <div class="col-lg-1">
          {{ entity.contactName }}
          <br>
          {{ entity.contactPhones | nl2br }}
        </div>
        <div class="col-lg-2">
          {% if entity.type == 'work' %}
	 	    {% if entity.quote %}
	 	      Selon devis n°{{ entity.quote.number }}<br>
	 	    {% endif %}
	 	  {% endif %}
	 	  {{ entity.reason | nl2br }}
        </div>
        <div class="col-lg-1">
          {% if entity.canceled %}
			<span class="label label-important">Annulée</span><br>
		  {% endif %}
          {% if entity.shiftTechnicians|length %}
            {% if entity.shiftTechnicians|length >= 4 %}
              <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                  {{ entity.shiftTechnicians|length }} déplacements
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
            {% endif %}
            {% for shift in entity.shiftTechnicians %}
              {% if entity.shiftTechnicians|length >= 4 %}<li>{% endif %}
              <a data-toggle="modal" href="{{ path('shifting_edit',{'id':shift.id}) }}" data-target="#editTechnicianModal">
                <small>{{ shift.begin | date('d/m')}}
                  <strong>{{ shift.technician }}</strong>
                  {% if shift.end %}
                    {{ shift.time.format('%hh%I') }}
                  {% endif %}
                </small>
              </a>
              {% if entity.shiftTechnicians|length >= 4 %}</li>{% else %}<br>{% endif %}
            {% endfor %}
            {% if entity.shiftTechnicians|length >= 4 %}</ul></div>{% endif %}
          {% else %}
            <a href="{{ path('shifting_new',{'id':entity.id}) }}" role="button" data-toggle="modal" data-target="#addTechnicianModal" class="btn btn-small btn-default">
              <span class="glyphicon glyphicon-plus-sign"></span> Ajouter
            </a>
        {% endif %}
        </div>
      </div>
      <div id="collapse{{ entity.id }}" class="panel-collapse collapse">
        <div class="panel-body">
          
        </div>
      </div>
    </div> 
  {% else %}
    <div class="panel panel-success">
      <div class="panel-header row">
        <div class="col-lg-1">
          {% include "JLMDailyBundle:Intervention:labeltype.html.twig" with {'type' : entity.type} %}<br>
		  <small>
		    {% if entity.firstDate %}
              {% if entity.lastDate != entity.firstDate %}
                du {{ entity.firstDate | localizeddate('full', 'none') }}
                <br>
                au {{ entity.lastDate | localizeddate('full', 'none') }}
              {% else %}
                {{ entity.firstDate | localizeddate('full', 'none') }}
              {% endif %}
            {% else %}
              {{ entity.creation | localizeddate('full', 'none') }}
            {% endif %}
          </small>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          {#}<a href="{{ path('equipment_show',{ 'id' : entity.id }) }}">{#}
            {{ entity.place }}
          {#}</a>{#}
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <small>
            {{ entity.reason | nl2br }}
          </small>
        </div>
        <div class="col-lg-1">
          {% if entity.shiftTechnicians|length %}
            {% for shift in entity.shiftTechnicians %}
              <a href="#modalEditTech{{ shift.id }}" data-toggle="modal">
                <small>
                  {{ shift.begin | date('d/m')}}
                  <strong>{{ shift.technician }}</strong>
                  {% if shift.end %}
                    {{ shift.time.format('%hh%I') }}
                  {% endif %}
                </small>
              </a>
              <br>
              {#{ render(controller('JLMDailyBundle:Shifting:edit',{'id':shift.id})) }#}
            {% endfor %}
          {% else %}
            <a href="#modalAddTech{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-small btn-default">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Ajouter
            </a>
            {#{ render(controller('JLMDailyBundle:Shifting:new',{'id':entity.id})) }#}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endif %}