{# JLMDailyBundle:Intervention:list.html.twig #}
{% if entities|length == 0 %}
<p>Aucune intervention</p>
{% else %}
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Installation</th>
			<th>Ctr</th>
			<th>Interlocuteur</th>
			<th>Info</th>
			<th>Techniciens</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		{% for entity in entities %}
			{% if entity.type != 'equipment' %}
		<tr{% if entity.state %} class="{% if entity.state == 1 %}warning{% elseif entity.state == 2 %}info{% elseif entity.state == 3 %}success{% else %}error{% endif %}"{% endif %}>
			<td>
			{% include "JLMDailyBundle:Intervention:labeltype.html.twig" with {'type' : entity.type} %}<br>
				<small>
		{% if entity.firstDate %}
			{% if entity.lastDate != entity.firstDate %}du {{ entity.firstDate | localizeddate('full', 'none') }}
			                                        <br>au {{ entity.lastDate | localizeddate('full', 'none') }}
			{% else %}{{ entity.firstDate | localizeddate('full', 'none') }}
			{% endif %}
		{% else %}
			{{ entity.creation | localizeddate('full', 'none') }}
			{% endif %}
				</small></td>
				
			<td>
				<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'show'}) }}">
					{% if entity.door %}<strong>{{ entity.door.site.address.city.name | upper }}</strong> <small>{{ entity.door.site.address.city.zip }}</small><br>{{ entity.door.street | nl2br }}
					{% else %}{{ entity.place | nl2br }}
					{% endif %}
				</a>
			</td>
			<td>{{ entity.contract }}</td>
			<td>{{ entity.contactName }}<br>{{ entity.contactPhones | nl2br }}</td>
			<td>{% if entity.door %}<strong>{{ entity.door.type }} - {{ entity.door.location }}</strong>{% endif %}<br>
			<small>{% if entity.type == 'work' %}
	 	{% if entity.quote %}Selon devis n°{{ entity.quote.number }}<br>{% endif %}{% endif %}{{ entity.reason | nl2br }}</small></td>
			<td>
			{% if entity.shiftTechnicians|length %}
				{% if entity.shiftTechnicians|length < 4%}
					{% for shift in entity.shiftTechnicians %}
						<a href="#modalEditTech{{ shift.id }}" data-toggle="modal"><small>{{ shift.begin | date('d/m')}} <strong>{{ shift.technician }}</strong>{% if shift.end %} {{ shift.time.format('%hh%I') }}{% endif %}</small></a><br>
						{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
					{% endfor %}
				{% else %}
					<div class="btn-group">
					    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
					    	{{ entity.shiftTechnicians|length }} déplacements
					    	<span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
					    {% for shift in entity.shiftTechnicians %}
								<li><a href="#modalEditTech{{ shift.id }}" data-toggle="modal"><small>{{ shift.begin | date('d/m')}} <strong>{{ shift.technician }}</strong>{% if shift.end %} {{ shift.time.format('%hh%I') }}{% endif %}</small></a></li>
						{% endfor %}
					    </ul>
					    {% for shift in entity.shiftTechnicians %}
					    	{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
					    {% endfor %}
					 </div>
				{% endif %}
			{% else %}
				<a href="#modalAddTech{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-small"><i class="icon-plus-sign"></i> Ajouter</a>
				{% render 'JLMDailyBundle:Shifting:new' with {'id':entity.id} %}
			{% endif %}
			</td>
{#			<td>
			{% if entity.closed %}
				Cloturée
			{% else %}
				<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'show'}) }}" class="btn"><i class="icon-eye-open"></i></a>
				<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'edit'}) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i></a>
				<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'close'}) }}" class="btn btn-primary"><i class="icon-ok icon-white"></i></a>
			{% endif %}
			</td>  #}

		</tr>
		{% else %}
		<tr class="success">
			<td>{% include "JLMDailyBundle:Intervention:labeltype.html.twig" with {'type' : entity.type} %}<br>
				<small>
		{% if entity.firstDate %}
			{% if entity.lastDate != entity.firstDate %}du {{ entity.firstDate | localizeddate('full', 'none') }}
			                                        <br>au {{ entity.lastDate | localizeddate('full', 'none') }}
			{% else %}{{ entity.firstDate | localizeddate('full', 'none') }}
			{% endif %}
		{% else %}
			{{ entity.creation | localizeddate('full', 'none') }}
			{% endif %}
				</small></td>
				<td><a href="{{ path('equipment_show',{ 'id' : entity.id }) }}">{{ entity.place }}</a></td>
				<td></td>
				<td></td>
				<td><small>{{ entity.reason | nl2br }}</small></td>
				<td>
			{% if entity.shiftTechnicians|length %}
				{% for shift in entity.shiftTechnicians %}
				<a href="#modalEditTech{{ shift.id }}" data-toggle="modal"><small>{{ shift.begin | date('d/m')}} <strong>{{ shift.technician }}</strong>{% if shift.end %} {{ shift.time.format('%hh%I') }}{% endif %}</small></a><br>
				{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
				{% endfor %}
				{% else %}
				<a href="#modalAddTech{{ entity.id }}" role="button" data-toggle="modal" class="btn"><i class="icon-plus-sign"></i> Ajouter</a>
				{% render 'JLMDailyBundle:Shifting:new' with {'id':entity.id} %}
				{% endif %}
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
{% endif %}