{# JLMDailyBundle:Intervention:list.html.twig #}

<table class="table table-stripped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Installation</th>
			<th>Interlocuteur</th>
			<th>Info</th>
			<th>Techniciens</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr{% if entity.shiftTechnicians|length %} class="{% if entity.close %}{% if entity.officeAction %}success{% else %}info{% endif %}{% else %}warning{% endif %}"{% endif %}>
		{% if entity.type != 'equipment' %}
			<td><small>{{ entity.creation| localizeddate('full', 'none') }}</small><br>{% include "JLMDailyBundle:Intervention:labeltype.html.twig" with {'type' : entity.type} %} {{ entity.creation|date('H:i') }}</td>
			<td><a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'show'}) }}">{% if entity.door %}<strong>{{ entity.door.site.address.city.name | upper }}</strong> <small>{{ entity.door.site.address.city.zip }}</small><br>{{ entity.door.street | nl2br }}{% else %}{{ entity.place }}{% endif %}</a></td>
			<td>{{ entity.contactName }}<br>{{ entity.contactPhones | nl2br }}</td>
			<td>{% if entity.door %}<strong>{{ entity.door.type }} - {{ entity.door.location }}</strong>{% endif %}<br><small>{{ entity.reason | nl2br }}</small></td>
			<td>
			{% if entity.shiftTechnicians|length %}
				{% for shift in entity.shiftTechnicians %}
				{% if shift.end %}
				<small>{{ shift.begin | date('d/m')}}</small> <strong>{{ shift.technician }}</strong><br>
				{% else %}
				<a href="{{ path('shifting_edit',{'id':shift.id}) }}"><small>{{ shift.begin | date('d/m')}}</small> <strong>{{ shift.technician }}</strong></a><br>
				{% endif %}
				{% endfor %}
				{% else %}
				<a href="{{ path('shifting_new',{'id':entity.id}) }}" class="btn"><i class="icon-plus-sign"></i> Ajouter</a>
				{% endif %}
			</td>
{#			<td>
			{% if entity.closed %}
				Cloturée
			{% else %}
				<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'show'}) }}" class="btn"><i class="icon-eye-open"></i></a>
				<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'edit'}) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i></a>
				<a href="{{ path('intervention_redirect',{'id':entity.id, 'act':'close'}) }}" class="btn btn-primary"><i class="icon-ok icon-white"></i></a>
			{% endif %}
			</td>  #}
			{% else %}
			<td>Equipment</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
