{# JLMDailyBundle:Intervention:show.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}
{% block content %}
<h1>{% include "JLMDailyBundle:Intervention:type.html.twig" with {'type' : entity.type} %}</h1>

<div class="alert{% if entity.closed %} alert-success{% elseif entity.priority < 3 %} alert-error{% elseif entity.priority > 4 %} alert-info{% endif %}"><h4>
{% if entity.closed %}Cloturée
{% elseif entity.priority == 1 %}TRES URGENT
{% elseif entity.priority == 2 %}Urgent
{% elseif entity.priority == 3 %}Haute
{% elseif entity.priority == 4 %}Normal
{% elseif entity.priority == 5 %}Basse
{% elseif entity.priority == 6 %}Très basse
{% endif %}</h4>
</div>

<div class="row-fluid">
	<div class="span6">
	 <table class="table">
	 <tbody>
	 <tr><th>Créée le</th><td>{{ entity.creation|date('d/m/Y H:i') }}</td></tr>
	 <tr>
		<th>Raison</th>
	 	<td>
	 		{% block reference %}{% endblock %}
			{{ entity.reason | nl2br }}
		</td>
	</tr>
	 <tr><th>Contrat</th><td>{{ entity.contract }}</td></tr>
	 {% if entity.door %}
	 <tr>
	 	<th>Emetteurs</th>
	 	<td>
			<ul>
				{% for trans in entity.door.transmitters %}
				<li>{{ trans }}</li>
				{% endfor %}
			</ul>
	 	</td></tr>
	 <tr>
	 	<th>Notes</th>
	 	<td>{{ entity.door.site.observations | nl2br }}
	 	{% if entity.door.site.observations and entity.door.observations %}<br>{% endif %}
	 	{{ entity.door.observations | nl2br }}</td>
	 </tr>
	 {% endif %}
	 </tbody>
	 </table>
	</div>
	<div class="span6 well">
	<h4>
		{% if entity.door %}
			{{ entity.door.type }} - {{ entity.door.location }}<br>
			{{ entity.door.street | nl2br }}<br>
			{{ entity.door.site.address.city }}
		{% else %}
			{{ entity.place | nl2br }}
		{% endif %}
	</h4>
		{{ entity.contactName }}
		<br>{{ entity.contactPhones | nl2br }}
		<br><a href="mailto:{{ entity.contactEmail}}">{{ entity.contactEmail}}</a>
		<br><a href="{{ path('daily_door_show',{'id':entity.door.id}) }}">Voir la fiche installation</a>
	</div>
</div>
<h2><small>Déplacements techniciens</small></h2>
{% if entity.shiftTechnicians|length > 0 %}
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Technicien</th>
			<th>Heures</th>
			<th>Temps</th>
			<th>Commentaire</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for shift in entity.shiftTechnicians %}
		<tr>
			<td>{{ shift.begin | date('d/m/Y') }}</td>
			<td>{{ shift.technician }}</td>
			<td>{% if shift.begin | date('H:i') != '00:00' %}de {{ shift.begin | date('H:i') }}{% endif %}{% if shift.end %} à {{ shift.end | date('H:i') }}{% endif %}</td>
			<td>{% if shift.end %}{{ shift.time.format('%hh%I') }}{% endif %}</td>
			<td>{{ shift.comment | nl2br}}</td>
			<td>
				<a href="#modalEditTech{{ shift.id }}" data-toggle="modal" role="button" class="btn btn-warning"><i class="icon-wrench icon-white"></i></a>
				{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
				<a href="#modalDeleteTech{{ shift.id }}" data-toggle="modal" role="button" class="btn btn-danger"><i class="icon-white icon-remove"></i></a>
<div id="modalDeleteTech{{ shift.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTech{{ shift.id }}Label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalDeleteTech{{ shift.id }}Label">Supprimer un déplacement</h3>
	</div>
	<div class="modal-body">
		Êtes-vous sur de vouloir supprimer le déplacement de {{ shift.technician }} ?
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
		<a href="{{ path('shifting_delete',{'id':shift.id}) }}" class="btn btn-danger">Oui</a>
	</div>
</div>
				</td>
		</tr>
	</tbody>
		{% endfor %}
	<tfoot>
		<tr>
			<th></th>
			<th>Total</th>
			<th></th>
			<th>{{ entity.totalTime.format('%hh%I') }}</th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>
{% else %}
<p>Aucun</p>
{% endif %}
<a href="#modalAddTech{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter</a>
{% render 'JLMDailyBundle:Shifting:new' with {'id':entity.id} %}

<h4>Rapport</h4>
<table class="table">
	<tbody>
{% block report %}
{% endblock %}

{% if entity.closed %}
{% block reportclosed %}

	 <tr>
	 	<th>Rapport</th>
	 	<td>
	 		{% if entity.canceled %}<strong>Annulée</strong><br>{% endif %}
	 		{{ entity.report | nl2br}}</td>
	 	<td></td>
	 </tr>
	 {% if entity.rest %}
	 <tr>
	 	<th>Reste à faire</th>
	 	<td>
	 		{{ entity.rest  | nl2br}}
	 		
	 	</td>
	 	<td>
	 		{% set preferother = 0 %}
			{% block otheraction %}
			<span class="btn-group">
				{# Bouton devis #}
				{% if entity.askQuote is not null %}
					{% if entity.askQuote.quotes|length %}
						<a href="#" class="btn{% if preferother == 0 %} btn-info{% endif %} disabled">Devis</a>
						<a href="#" class="btn {% if preferother == 0 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
			 			<ul class="dropdown-menu">
			 				<li><a href="{{ path('askquote_show',{'id' : entity.askQuote.id }) }}">Voir la demande de devis</a></li>
			    			<li class="divider"></li>
						{% for quote in entity.askQuote.quotes %}
							<li><a href="{{ path('quote_show',{ 'id':quote.id }) }}" tabindex="-1">{{ quote.number }} {% include 'JLMOfficeBundle:Quote:statelabel.html.twig' with {'state': quote.state} %}</a></li> 
						{% endfor %}
						</ul>
					{% elseif entity.askQuote.dontTreat %}
						<a href="#" class="btn{% if preferother == 0 %} btn-info{% endif %} disabled">Devis</a>
						<a href="#" class="btn {% if preferother == 0 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
			 			<ul class="dropdown-menu">
			 				<li><a href="{{ path('askquote_show',{'id' : entity.askQuote.id }) }}">Voir la demande de devis</a></li>
			    			<li class="divider"></li>
							<li>{{ entity.askQuote.dontTreat }}</li>
						</ul>
			    	{% else %}
			    		<a href="{{ path('intervention_cancelquote',{'id' : entity.id }) }}" class="btn{% if preferother == 0 %} btn-info{% endif %} active">Devis</a>
			    		<a href="#" class="btn{% if preferother == 0 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
			    		<ul class="dropdown-menu">
			    			<li><a href="{{ path('askquote_show',{'id' : entity.askQuote.id }) }}">Voir la demande de devis</a></li>
			    		</ul>
			    	{% endif %}
			    {% else %}
			    	<a href="{{ path('intervention_toquote',{'id' : entity.id }) }}" class="btn {% if preferother == 0 %} btn-info{% endif %}">Devis</a>
			    	<a href="#" class="btn{% if preferother == 0 %} btn-info{% endif %} disabled"><b class="caret"></b></a>
			    {% endif %}
			   </span>
				
				{# Bouton commande #}
				<span class="btn-group">
				{% if entity.work is not null %}
					{% if entity.work.inProgress %}
						<a href="#" class="btn{% if preferother == 1 %} btn-info{% endif %} disabled">Prévoir intervention </a>
			    		<a href="#" class="btn{% if preferother == 1 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
			    		<ul class="dropdown-menu">
			    			<li><a href="{{ path('work_show',{'id':entity.work.id}) }}">Voir les travaux</a></li>
			    		</ul>
			    	{% else %}
			    		<a href="{{ path('intervention_cancelwork',{'id' : entity.id }) }}" class="btn{% if preferother == 1 %} btn-info{% endif %} active">Prévoir intervention </a>
			    		<a href="#" class="btn{% if preferother == 1 %} btn-info{% endif %} dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
			    		<ul class="dropdown-menu">
			    			<li><a href="{{ path('work_show',{'id':entity.work.id}) }}">Voir les travaux</a></li>
			    		</ul>
			    	{% endif %}
			    {% else %}
			    	<a href="{{ path('intervention_towork',{'id' : entity.id }) }}" class="btn {% if preferother == 1 %} btn-info{% endif %}">Prévoir intervention</a>
			    	<a href="#" class="btn{% if preferother == 1 %} btn-info{% endif %} disabled"><b class="caret"></b></a>
			    {% endif %}
			    </span>
			    
				{# Bouton contacter client #}
				<span class="btn-group">
				{% if entity.contactCustomer is not null %}
					{% if entity.contactCustomer %}
			    		<a href="#" class="btn{% if preferother == 2 %} btn-info{% endif %} disabled">Contacter client</a>
			    	{% else %}
			    		<a href="{{ path('intervention_cancelcontact',{'id' : entity.id }) }}" class="btn{% if preferother == 2 %} btn-info{% endif %} active">Contacter client</a>
			    	{% endif %}
			    {% else %}
			    	<a href="{{ path('intervention_tocontact',{'id' : entity.id }) }}" class="btn{% if preferother == 2 %} btn-info{% endif %}">Contacter client</a>
			    {% endif %}
			    </span>
			{% endblock otheraction %}
			</td>
	 	</tr>
	 {% endif %}
	 <tr>
	 	<th>Action bureau</th>
			{% if entity.mustBeBilled is not null %}
			<td>
				{% if entity.mustBeBilled %}
					{% if entity.bill %}
					<a href="{{ path('bill_show',{'id': entity.bill.id }) }}">Facture n°{{ entity.bill.number }}</a>
					{% elseif entity.externalBill %}
					Facture n°{{ entity.externalBill }} (externe)
					{% else %}
					<a href="{{ path('bill_new_intervention',{'id':entity.id}) }}">A facturer</a>
					<br><a href="#modalExternalBill" data-toggle="modal">Saisir le numéro</a>
					{# Modal #}
					<form id="modalExternalBill" action="{{ path('intervention_externalbill',{'id':entity.id}) }}" method="post" {{ form_enctype(form_externalbill) }} class="form-horizontal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalExternalBillLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="modalExternalBillLabel">Numéro de facture externe</h3>
						</div>
						<div class="modal-body">
							{{ form_widget(form_externalbill) }}
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
							<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer</button>
						</div>
					</form>
					{% endif %}
				{% else %}
					Ne pas facturer
				{% endif %}
			</td>
			<td>
					{% if entity.bill is not null%}
					<a href="#" class="btn disabled" data-toggle="modal" role="button">Changer</a>
					{% else %}
					<a href="{{ path('intervention_cancelbill',{'id':entity.id}) }}" class="btn">Changer</a>
					{% endif %}
			</td>
			{% else %}
			<td>
				Non définie
			</td>
			<td>
				
				{% set preferbill = 0 %}
				{% block officeaction %}
				
				{% if preferbill < 1 %}
				{% if preferbill == 0 %}
				<span class="btn-group">
					<a href="{{ path('intervention_tobill',{'id' : entity.id }) }}" class="btn">Facturer</a>
				</span>
				{% endif %}
				<span class="btn-group">
					<a href="{{ path('intervention_dontbill',{'id' : entity.id }) }}" class="btn btn-info">Ne pas facturer</a>
				</span>
				{% else %}
				<span class="btn-group">
				<a href="{{ path('intervention_tobill',{'id' : entity.id }) }}" class="btn btn-info">Facturer</a>
				</span>
				<span class="btn-group">
				<a href="{{ path('intervention_dontbill',{'id' : entity.id }) }}" class="btn">Ne pas facturer</a>
				</span>
				{% endif %}
				</span>
				{% endblock %}
				
			</td>
			{% endif %}
	 	</td>
	 </tr>
	 <tr>
	 	<th>Bon d'intervention</th>
	 	<td>{{ entity.voucher }}</td>
	 	<td></td>
	 </tr>

{% endblock %}
{% endif %}
	 </tbody>
</table>
<div class="form-actions">
	{% block actions %}
		{% if entity.type == 'work' %}
			{% if entity.intervention or entity.quote %}
				{% if entity.canceled %}
					<a href="{{ path('intervention_uncancel',{'id':entity.id}) }}" class="btn btn-inverse">Désannuler</a>
				{% else %}
				<a href="#modalCancel{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-danger"><i class="icon-remove icon-white"></i> Annuler</a>
				<form id="modalCancel{{ entity.id }}" action="{{ path('intervention_cancel',{'id':entity.id}) }}" method="post" {{ form_enctype(form_cancel) }} class="form-horizontal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalCancel{{ entity.id }}Label" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="modalCancel{{ entity.id }}Label">Annuler l'intervention</h3>
					</div>
					<div class="modal-body">
						{{ form_widget(form_cancel) }}
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
						<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer</a>
					</div>
				</form>
				{% endif %}
			{% else %}
			<a href="#modalDelete{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-danger"><i class="icon-remove icon-white"></i> Supprimer</a>
			{% include 'JLMDailyBundle:Intervention:delete.html.twig' with {'id':entity.id} %}
			{% endif %}
		{% else %}
			<a href="#modalDelete{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-danger"><i class="icon-remove icon-white"></i> Supprimer</a>
			{% include 'JLMDailyBundle:Intervention:delete.html.twig' with {'id':entity.id} %}
		{% endif %}
	{% endblock %}
	</div>
{% endblock %}

{% macro bill(id,preferbill) %}

{% endmacro %}