{# JLMDailyBundle:Intervention:show.html.twig #}

<div class="alert{% if entity.closed %} alert-success{% elseif entity.priority < 3 %} alert-error{% elseif entity.priority > 4 %} alert-info{% endif %}"><h4>
{% if entity.closed %}Cloturée
{% elseif entity.priority == 1 %}TRES URGENT
{% elseif entity.priority == 2 %}Urgent
{% elseif entity.priority == 3 %}Haute
{% elseif entity.priority == 4 %}Normal
{% elseif entity.priority == 5 %}Basse
{% elseif entity.priority == 6 %}Très basse
{% endif %}</h4>
</div>

<div class="row-fluid">
	<div class="span6">
	 <table class="table">
	 <tbody>
	 <tr><th>Créée le</th><td>{{ entity.creation|date('d/m/Y H:i') }}</td></tr>
	 <tr><th>Type</th><td>{% include "JLMDailyBundle:Intervention:type.html.twig" with {'type' : entity.type} %}</td></tr>
	 <tr><th>Raison</th><td>{{ entity.reason | nl2br }}</td></tr>
	 <tr><th>Contrat</th><td>{{ entity.contract }}</td></tr>
	 </tbody>
	 </table>
	</div>
	<div class="span6 well">
		<h4>{{ entity.place | nl2br }}</h4>
		{{ entity.contactName }}
		<br>{{ entity.contactPhones | nl2br }}
		<br><a href="mailto:{{ entity.contactEmail}}">{{ entity.contactEmail}}</a>
	</div>
</div>
<h2><small>Déplacements techniciens</small></h2>
{% if entity.shiftTechnicians|length > 0 %}
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Transmis le</th>
			<th>Technicien</th>
			<th>Date</th>
			<th>Temps</th>
			<th>Commentaire</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for shift in entity.shiftTechnicians %}
		<tr>
			<td>{{ shift.creation | date('d/m/Y H:i') }}</td>
			<td>{{ shift.technician }}</td>
			<td>{{ shift.begin | date('d/m/Y') }}{% if shift.begin | date('H:i') != '00:00' %}<br>de {{ shift.begin | date('H:i') }}{% endif %}{% if shift.end %} à {{ shift.end | date('H:i') }}{% endif %}</td>
			<td>{% if shift.end %}{{ shift.time.format('%hh%I') }}{% endif %}</td>
			<td>{{ shift.comment | nl2br}}</td>
			<td><a href="{{ path('shifting_delete',{'id':shift.id}) }}" class="btn btn-danger"><i class="icon-white icon-remove"></i></a>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>Aucun</p>
{% endif %}
{% if entity.closed == false %}
	{# <a href="{{ path('shifting_new',{'id':entity.id}) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter</a> #}
	<a href="#modalAddTech" role="button" data-toggle="modal" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter</a>
	<form action="{{ path('shifting_create',{'id':entity.id}) }}" method="post" {{ form_enctype(form_newtech) }} class="form-horizontal">
		<div id="modalAddTech" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalAddTechLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="modalAddTechLabel">Ajouter un technicien</h3>
			</div>
			<div class="modal-body">
				{{ form_widget(form_newtech) }}
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
				<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer</button>
			</div>
		</div>
	</form>
{% endif %}