{# JLMDailyBundle:Intervention:show.html.twig #}

<div class="alert{% if entity.closed %} alert-success{% elseif entity.priority < 3 %} alert-error{% elseif entity.priority > 4 %} alert-info{% endif %}"><h4>
{% if entity.closed %}Cloturée
{% elseif entity.priority == 1 %}TRES URGENT
{% elseif entity.priority == 2 %}Urgent
{% elseif entity.priority == 3 %}Haute
{% elseif entity.priority == 4 %}Normal
{% elseif entity.priority == 5 %}Basse
{% elseif entity.priority == 6 %}Très basse
{% endif %}</h4>
</div>

<div class="row-fluid">
	<div class="span6">
	 <table class="table">
	 <tbody>
	 <tr><th>Créée le</th><td>{{ entity.creation|date('d/m/Y H:i') }}</td></tr>
	 <tr><th>Type</th><td>{% include "JLMDailyBundle:Intervention:type.html.twig" with {'type' : entity.type} %}</td></tr>
	 <tr><th>Raison</th><td>{{ entity.reason | nl2br }}</td></tr>
	 <tr><th>Contrat</th><td>{{ entity.contract }}</td></tr>
	 </tbody>
	 </table>
	</div>
	<div class="span6 well">
		<h4>{{ entity.place | nl2br }}</h4>
		{{ entity.contactName }}
		<br>{{ entity.contactPhones | nl2br }}
		<br><a href="mailto:{{ entity.contactEmail}}">{{ entity.contactEmail}}</a>
		<br><a href="{{ path('daily_door_show',{'id':entity.door.id}) }}">Voir la fiche installation</a>
	</div>
</div>
<h2><small>Déplacements techniciens</small></h2>
{% if entity.shiftTechnicians|length > 0 %}
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Transmis le</th>
			<th>Technicien</th>
			<th>Date</th>
			<th>Temps</th>
			<th>Commentaire</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for shift in entity.shiftTechnicians %}
		<tr>
			<td>{{ shift.creation | date('d/m/Y H:i') }}</td>
			<td>{{ shift.technician }}</td>
			<td>{{ shift.begin | date('d/m/Y') }}{% if shift.begin | date('H:i') != '00:00' %}<br>de {{ shift.begin | date('H:i') }}{% endif %}{% if shift.end %} à {{ shift.end | date('H:i') }}{% endif %}</td>
			<td>{% if shift.end %}{{ shift.time.format('%hh%I') }}{% endif %}</td>
			<td>{{ shift.comment | nl2br}}</td>
			<td>
				<a href="#modalEditTech{{ shift.id }}" data-toggle="modal" role="button" class="btn btn-warning"><i class="icon-wrench icon-white"></i></a>
				{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
				<a href="{{ path('shifting_delete',{'id':shift.id}) }}" class="btn btn-danger"><i class="icon-white icon-remove"></i></a>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>Aucun</p>
{% endif %}
{% if entity.closed == false %}
	<a href="#modalAddTech{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter</a>
	{% render 'JLMDailyBundle:Shifting:new' with {'id':entity.id} %}
{% endif %}