{# JLMDailyBundle:Intervention:show.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}
{% block content %}
<h1>{% include "JLMDailyBundle:Intervention:type.html.twig" with {'type' : entity.type} %}</h1>

<div class="alert{% if entity.closed %} alert-success{% elseif entity.priority < 3 %} alert-error{% elseif entity.priority > 4 %} alert-info{% endif %}"><h4>
{% if entity.closed %}Cloturée
{% elseif entity.priority == 1 %}TRES URGENT
{% elseif entity.priority == 2 %}Urgent
{% elseif entity.priority == 3 %}Haute
{% elseif entity.priority == 4 %}Normal
{% elseif entity.priority == 5 %}Basse
{% elseif entity.priority == 6 %}Très basse
{% endif %}</h4>
</div>

<div class="row-fluid">
	<div class="span6">
	 <table class="table">
	 <tbody>
	 <tr><th>Créée le</th><td>{{ entity.creation|date('d/m/Y H:i') }}</td></tr>
	 <tr>
		<th>Raison</th>
	 	<td>
	 		{% block reference %}{% endblock %}
			{{ entity.reason | nl2br }}
		</td>
	</tr>
	 <tr><th>Contrat</th><td>{{ entity.contract }}</td></tr>
	 {% if entity.door %}
	 <tr>
	 	<th>Emetteurs</th>
	 	<td>
			<ul>
				{% for trans in entity.door.transmitters %}
				<li>{{ trans }}</li>
				{% endfor %}
			</ul>
	 	</td></tr>
	 <tr>
	 	<th>Notes</th>
	 	<td>{{ entity.door.site.observations | nl2br }}
	 	{% if entity.door.site.observations and entity.door.observations %}<br>{% endif %}
	 	{{ entity.door.observations | nl2br }}</td>
	 </tr>
	 {% endif %}
	 </tbody>
	 </table>
	</div>
	<div class="span6 well">
	<h4>
		{% if entity.door %}
			{{ entity.door.type }} - {{ entity.door.location }}<br>
			{{ entity.door.street | nl2br }}<br>
			{{ entity.door.site.address.city }}
		{% else %}
			{{ entity.place | nl2br }}
		{% endif %}
	</h4>
		{{ entity.contactName }}
		<br>{{ entity.contactPhones | nl2br }}
		<br><a href="mailto:{{ entity.contactEmail}}">{{ entity.contactEmail}}</a>
		<br><a href="{{ path('daily_door_show',{'id':entity.door.id}) }}">Voir la fiche installation</a>
	</div>
</div>
<h2><small>Déplacements techniciens</small></h2>
{% if entity.shiftTechnicians|length > 0 %}
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Technicien</th>
			<th>Heures</th>
			<th>Temps</th>
			<th>Commentaire</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for shift in entity.shiftTechnicians %}
		<tr>
			<td>{{ shift.begin | date('d/m/Y') }}</td>
			<td>{{ shift.technician }}</td>
			<td>{% if shift.begin | date('H:i') != '00:00' %}de {{ shift.begin | date('H:i') }}{% endif %}{% if shift.end %} à {{ shift.end | date('H:i') }}{% endif %}</td>
			<td>{% if shift.end %}{{ shift.time.format('%hh%I') }}{% endif %}</td>
			<td>{{ shift.comment | nl2br}}</td>
			<td>
				<a href="#modalEditTech{{ shift.id }}" data-toggle="modal" role="button" class="btn btn-warning"><i class="icon-wrench icon-white"></i></a>
				{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
				<a href="#modalDeleteTech{{ shift.id }}" data-toggle="modal" role="button" class="btn btn-danger"><i class="icon-white icon-remove"></i></a>
<div id="modalDeleteTech{{ shift.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTech{{ shift.id }}Label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalDeleteTech{{ shift.id }}Label">Supprimer un déplacement</h3>
	</div>
	<div class="modal-body">
		Êtes-vous sur de vouloir supprimer le déplacement de {{ shift.technician }} ?
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
		<a href="{{ path('shifting_delete',{'id':shift.id}) }}" class="btn btn-danger">Oui</a>
	</div>
</div>
				</td>
		</tr>
	</tbody>
		{% endfor %}
	<tfoot>
		<tr>
			<th></th>
			<th>Total</th>
			<th></th>
			<th>{{ entity.totalTime.format('%hh%I') }}</th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>
{% else %}
<p>Aucun</p>
{% endif %}
<a href="#modalAddTech{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter</a>
{% render 'JLMDailyBundle:Shifting:new' with {'id':entity.id} %}

<h4>Rapport</h4>
<table class="table">
	<tbody>
{% block report %}
{% endblock %}

{% if entity.closed %}
{% block reportclosed %}

	 <tr>
	 	<th>Rapport</th>
	 	<td>{{ entity.report | nl2br}}</td>
	 	<td></td>
	 </tr>
	 {% if entity.rest %}
	 <tr>
	 	<th>Reste à faire</th>
	 	<td>{{ entity.rest  | nl2br}}</td>
	 		{% set preferother = 0 %}
			{% block otheraction %}
			{% if entity.otherAction %}
				<td><strong>{{ entity.otherAction.type }}</strong>
				<br><a href="{{ path('task_edit',{'id':entity.otherAction.id}) }}" class="btn">Modifier</a></td>
			{% else %}
				<td>
					{% if preferother == 0 %}
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 2 }) }}" class="btn btn-primary">Devis</a>
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 3 }) }}" class="btn">Commander matériel</a>
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 4 }) }}" class="btn">Contacter client</a>
					{% elseif preferother == 1 %}
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 3 }) }}" class="btn btn-primary">Commander matériel</a>
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 2 }) }}" class="btn">Devis</a>
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 4 }) }}" class="btn">Contacter client</a>
					{% else %}
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 4 }) }}" class="btn btn-primary">Contacter client</a>
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 2 }) }}" class="btn">Devis</a>
					<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 3 }) }}" class="btn">Commander matériel</a>
					{% endif %}
				</td>
			{% endif %}
			{% endblock otheraction %}
		</td>
	 	</tr>
	 {% endif %}
	 <tr>
	 	<th>Action bureau</th>
			{% if entity.mustBeBilled is not null %}
			<td>
				{% if entity.mustBeBilled %}
					{% if entity.bill %}
					<a href="{{ path('bill_show',{'id': entity.bill.id }) }}">Facture n°{{ entity.bill.number }}</a>
					{% else %}
					<a href="{{ path('bill_new_intervention',{'id':entity.id}) }}">A facturer</a>
					{% endif %}
				{% else %}
					Ne pas facturer
				{% endif %}
			</td>
			<td>
					{% if entity.bill is not null%}
				<a href="#modalDeleteBill" class="btn" data-toggle="modal" role="button">Changer</a>
				<div id="modalDeleteBill" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteBillLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="modalDeleteBillLabel">Annuler cette la facturation</h3>
					</div>
					<div class="modal-body">
						<p>Cette action annulera automatiquement la facture qui a été créée.</p>
						<p>Êtes-vous bien sûr de vouloir annuler la facture n°{{ entity.bill.number }} ?</p>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
						<a href="{{ path('intervention_cancelbill',{'id':entity.id}) }}" class="btn btn-danger">Oui</a>
					</div>
				</div>
					{% else %}
					<a href="{{ path('intervention_cancelbill',{'id':entity.id}) }}" class="btn">Changer</a>
					{% endif %}
			</td>
			{% else %}
			<td>
				Non définie
			</td>
			<td>
				{% set preferbill = 0 %}
				{% block officeaction %}
				{% if preferbill < 1 %}
				<a href="{{ path('intervention_dontbill',{'id' : entity.id }) }}" class="btn btn-primary">Ne pas facturer</a>
					{% if preferbill == 0 %}
					<a href="{{ path('intervention_tobill',{'id' : entity.id }) }}" class="btn">Facturer</a>
					{% endif %}
				{% else %}
				<a href="{{ path('intervention_tobill',{'id' : entity.id }) }}" class="btn btn-primary">Facturer</a>
				<a href="{{ path('intervention_dontbill',{'id' : entity.id }) }}" class="btn">Ne pas facturer</a>
				{% endif %}
				{% endblock %}
			</td>
			{% endif %}
	 	</td>
	 </tr>
	 <tr>
	 	<th>Bon d'intervention</th>
	 	<td>{{ entity.voucher }}</td>
	 	<td></td>
	 </tr>

{% endblock %}
{% endif %}
	 </tbody>
</table>
<div class="form-actions">
	{% block actions %}
		<a href="#modalDelete{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-danger"><i class="icon-remove icon-white"></i> Supprimer</a>
		{% include 'JLMDailyBundle:Intervention:delete.html.twig' with {'id':entity.id} %}
	{% endblock %}
{% endblock %}

{% macro bill(id,preferbill) %}

{% endmacro %}