{# JLMDailyBundle:Intervention:report.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block title %}Aujourd'hui | {{ parent() }}{% endblock %}

{% block modals %}
{{ parent() }}
<div class="modal fade" id="addTechnicianModal" tabindex="-1" role="dialog" aria-labelledby="addTechniciansModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
<div class="modal fade" id="editTechnicianModal" tabindex="-1" role="dialog" aria-labelledby="editTechniciansModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock modals %}

{% block content %}
<div class="page-header"><h1>Aujourd'hui</h1></div>
<div class="panel panel-info">
  <div class="panel-heading"><span class="badge pull-right">{{ inprogress|length }}</span>En cours</div>
  <div class="panel-body">
    <div class="panel-group" id="inprogress">
      {% include "JLMDailyBundle:Intervention:list.html.twig" with {'entities' : inprogress } %}
    </div>
  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading"><span class="badge pull-right">{{ fixing|length }}</span>Dépannages à donner</div>
  <div class="panel-body">
    <div class="panel-group" id="fixing">
    {% include "JLMDailyBundle:Intervention:list.html.twig" with {'entities' : fixing } %}
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><span class="badge pull-right">{{ equipment|length }}</span>Autres déplacements</div>
  <div class="panel-body">
    <div class="panel-group" id="equipment">
    {% include "JLMDailyBundle:Intervention:list.html.twig" with {'entities' : equipment } %}
    </div>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading"><span class="badge pull-right">{{ notclosed|length }}</span>À cloturer</div>
  <div class="panel-body">
    <div class="panel-group" id="notclosed">
    {% include "JLMDailyBundle:Intervention:list.html.twig" with {'entities' : notclosed } %}
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading"><span class="badge pull-right">{{ closed|length }}</span>Terminé aujourd'hui</div>
  <div class="panel-body">
    <div class="panel-group" id="closed">
    {% include "JLMDailyBundle:Intervention:list.html.twig" with {'entities' : closed } %}
    </div>
  </div>
</div>
{% endblock %}