{% extends "::base.html.twig" %}

{% block title %}JLM{% endblock %}

{% block stylesheets %}
	{% stylesheets
		'bundles/jlmdefault/css/bootstrap.css'
		
		'bundles/jlmdefault/js/select2-3.4.5/select2.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css">
	{% stylesheets '@JLMDefaultBundle/Resources/public/css/style.css' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
	{% if edit_form is defined %}{{ form_stylesheet(edit_form) }}{% endif %}
{% endblock %}

{% block body %}
{% block modals %}{% endblock modals %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			{# Responsive #}
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ path('default') }}" class="navbar-brand">JLM</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-collapse">
	{% block header %}
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% block navigation %}
			{% set section = section|default('main') %}
			<ul class="nav navbar-nav">
			{% block nav_search_bar %}
			{% endblock nav_search_bar %}
				<li{% if section == 'daily' %} class="active"{% endif %}><a href="{{ path('intervention_today') }}">Journal de bord</a></li>
				<li class="dropdown{% if section == 'quote' %} active{% endif %}">
					<a data-toggle="dropdown" href="{{ path('quote') }}">Devis <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" href="{{ path('askquote_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle demande de devis</a></li>
						<li role="presentation" class="divider">
						{% include	'JLMOfficeBundle:Askquote:sidebar.html.twig' with {'count':layout.askQuoteCount} %}
						<li role="presentation" class="divider">
						{% include	'JLMOfficeBundle:Quote:sidebar.html.twig' with	{'count':layout.quoteCount} %}
					</ul>
				</li>
				<li class="dropdown{% if section == 'order' %} active{% endif %}" role="menu">
					<a data-toggle="dropdown" href="{{ path('order') }}">Fiches travaux <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						{% include 'JLMOfficeBundle:Order:sidebar.html.twig' with {'count':layout.orderCount} %}
					</ul>
				</li>
				<li class="dropdown{% if section == 'bill' %} active{% endif %}" role="menu">
					<a data-toggle="dropdown" href="{{ path('bill') }}">Factures <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" href="{{ path('bill_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle facture</a></li>
						<li role="presentation" class="divider">
						{% include 'JLMOfficeBundle:Bill:sidebar.html.twig' with {'count':layout.billCount} %}
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" href="{{ path('fees') }}"><span class="glyphicon glyphicon-list"></span> Redevances</a></li>
					</ul>
				</li>					
				<li class="dropdown{% if section == 'transmittersk' %} active{% endif %}" role="menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion JCM <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li role="presentation"><a role="menuitem" href="{{ path('transmitter_ask_new') }}">Nouvelle demande</a></li>
						<li role="presentation"><a role="menuitem" href="{{ path('transmitter_ask_untreated') }}">Demandes non traitées</a></li>
						<li role="presentation"><a role="menuitem" href="{{ path('transmitter_attribution') }}">Liste des attributions</a></li>
					</ul></li>
				<li class="dropdown{% if section == 'state' %} active{% endif %}" role="menu">
					<a href="#" class="dropdown-toggle"	data-toggle="dropdown">Etats <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li role="presentation"><a role="menuitem" href="{{ path('state_top') }}">Top dépannage</a></li>
						<li role="presentation"><a role="menuitem" href="{{ path('state_technicians') }}">Techniciens</a></li>
						<li role="presentation"><a role="menuitem" href="{{ path('state_maintenance') }}">Entretiens</a></li>
						<li role="presentation"><a role="menuitem" href="{{ path('state_contracts') }}">Contrats</a></li>
						<li role="presentation"><a role="menuitem" href="{{ path('state_transmitters') }}">Émetteurs</a></li>
					</ul>
				</li>
				<li{% if section == 'model' %} class="active"{% endif %}><a href="{{ path('trustee') }}">Saisie</a></li>
			{% endblock navigation %}
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" role="menu">
					<a role="menuitem" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ app.user.person.firstName }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li role="presentation"><a role="menuitem" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-remove-sign"></span> Déconnexion</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> Mon profil</a></li>
						<li role="presentation"><a role="menuitem" href="http://gitlab.kw12er.com/kwizer/jlm-intranet/issues">Signaler un bug</a></li>
						<li role="presentation"><a role="menuitem" href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-lock"></span> Changer mon mot de passe</a></li>
					</ul>
				</li>
			</ul>
			
		{% endif %}
	{% endblock header %}
		</div>
	</div>
</nav>
<div class="container-fluid">
	{% block container %}
	<div class="row">
		<div class="col-lg-2">
			<ul class="nav nav-pills nav-stacked">
			{% block sidebar %}{% endblock sidebar %}
			</ul>
		</div>
		<div class="col-lg-10">
		{% block content %}{% endblock content %}
		{% block pagination %}
		{% if page is defined and pageTotal is defined and pageRoute is defined %}
			{% set flag = true %}
			<div class="pagination pagination-centered">
				<ul>
					<li {% if page == 1 %} class="disabled" {% endif %}><a href="{{ path(pageRoute,{ 'page' : page-1 }) }}">«</a></li>
						{% for 	p in range(1,pageTotal) %}
						  {% if (p > page - 3 and p < page + 3) or p == 1 or p == pageTotal or (p < 6 and page < 6) %}
					<li {% if p == page %} class="active" {% endif %}><a href="{{ path(pageRoute,{ 'page' : p }) }}">{{ p }}</a></li>
					{% set flag = true %}
					{% elseif p % 10 == 0 %}
					<li><a href="{{ path(pageRoute,{ 'page' : p }) }}">{{ p }}</a></li>
					{% set flag = true %}
					{% elseif flag %}
					<li><a href="#">...</a></li>
					{% set flag = false %}
					{% endif %}
					{% endfor %}
					<li {% if page == pageTotal %} class="disabled" {% endif %}><a href="{{ path(pageRoute,{ 'page' : page+1 }) }}">»</a></li>
				</ul>
			</div>
			{% endif %}
		{% endblock pagination %}
		</div>
	</div>
	{% endblock container %}
</div>
<footer>
{% block footer %}{% endblock footer %}
</footer>

{% endblock body %}
{% block javascripts %}
{% javascripts
	'@JLMDefaultBundle/Resources/public/js/jquery-2.1.1.js'
	'../app/Resources/public/js/jquery-ui-1.10.3/jquery-ui.js'
	'@JLMDefaultBundle/Resources/public/js/bootstrap.js'
	'../app/Resources/public/js/jquery-ui-1.10.3/i18n/jquery.ui.datepicker-fr.js'
	'../app/Resources/public/js/number_format.js'
	'../app/Resources/public/js/modalform.js'
	'@JLMDefaultBundle/Resources/public/js/highstock.js'
	'../app/Resources/public/js/highcharts_init.js'
	'@JLMDefaultBundle/Resources/public/js/select2-3.4.5/select2.js'
	filter='yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% if form is defined %}{{ form_javascript(form) }}{% endif %}
{% if edit_form is defined %}{{ form_javascript(edit_form) }}{% endif %}
{% endblock %}
{% block javascripts_script %}
$('.autocompletion').autocomplete({ source : function(request,response){
return $.post( this.element.attr('data-source'), request, function
(data) { response(data);}, 'json' ); }, items:12, });
{% endblock %}
{% block javascriptappend %}
{# z-index pour appartition dans une modal #}
$('.ui-autocomplete, .modal .datepicker').css('z-index','10000');
{% endblock %}
