{% extends "::base.html.twig" %}

{% block title %}JLM{% endblock %}

{% block stylesheets %}
	{% stylesheets
		'bundles/jlmdefault/css/bootstrap.css'
		'bundles/jlmdefault/css/bootstrap-responsive.css'
		filter='cssrewrite'
		 %}
    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css">
	{% stylesheets '@JLMDefaultBundle/Resources/public/css/style.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
	        <div class="container">
	        {# Responsive #}
		        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		           <span class="icon-bar"></span>
		           <span class="icon-bar"></span>
		           <span class="icon-bar"></span>
	         	</a>
	         	<a href="{{ path('default') }}" class="brand">JLM</a>
	         	<div class="nav-collapse collapse">
	      {% block header %}
	      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	      	
			{% block navigation %}
			<ul class="nav navbar-nav">
			    <li><a href="{{ path('trustee') }}">Saisie</a></li>
		        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bureau <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
                        <li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('quote') }}">Devis</a>
		        			<ul class="dropdown-menu">
		        				<li class="dropdown-submenu">
		        					<a tabindex="-1" href="{{ path('askquote') }}">Demandes</a>
		        					<ul class="dropdown-menu">
		        						<li><a href="{{ path('askquote_new') }}"><i class="icon-plus-sign"></i> Nouvelle demande de devis</a></li>
		        						<li class="divider"></li>
		        						{% render "JLMOfficeBundle:Askquote:sidebar" %}
		        					</ul>
		        				</li>
		        				<li class="divider"></li>
		        				{% render "JLMOfficeBundle:Quote:sidebar" %}
		        			</ul>
		        		</li>
		        		<li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('order') }}">Fiches travaux</a>
		        			<ul class="dropdown-menu">
		        			{#	<li><a href="{{ path('order_new') }}"><i class="icon-plus-sign"></i> Nouvelle fiche</a></li>
								<li class="divider"></li> #}
				        		{% render "JLMOfficeBundle:Order:sidebar" %} 
		        			</ul>
		        		</li>
                        <li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('bill') }}">Facture</a>
		        			<ul class="dropdown-menu">
				        		<li><a href="{{ path('bill_new') }}"><i class="icon-plus-sign"></i> Nouvelle facture</a></li>
				        		<li class="divider"></li>
				        		{% render "JLMOfficeBundle:Bill:sidebar" %}
		        			</ul>
		        		</li>
                        <li class="dropdown-submenu">
		        			<a tabindex="-1" href="{{ path('fees') }}">Redevances</a>
		        			<ul class="dropdown-menu">
		        				<li><a href="{{ path('fees') }}"><i class="icon-list"></i> Liste</a></li>
		        			</ul>
		        		</li>
		        	</ul>
		        <li><a href="{{ path('intervention_today') }}">Journal de bord</a></li>
		        {# Emetteurs #}
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Émetteurs <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		        		<li><a href="{{ path('transmitter_ask_new') }}">Nouvelle demande</a></li>
		        		<li><a href="{{ path('transmitter_ask_untreated') }}">Demandes non traitées</a></li>
		        		<li><a href="{{ path('transmitter_attribution') }}">Liste des attributions</a></li>
		        	</ul>
		        </li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Etats <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		        		<li><a href="{{ path('state_top') }}">Top dépannage</a></li>
		        		<li><a href="{{ path('state_technicians') }}">Techniciens</a></li>
		        		<li><a href="{{ path('state_maintenance') }}">Entretiens</a></li>
		        	</ul>
		        </li>
			  {% endblock navigation %}
			</ul>
			<div class="btn-group pull-right">
			   <a href="#" class="btn btn-info navbar-btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user  icon-white"></i> {{ app.user.person.firstName }} <b class="caret"></b></a>
			   <ul class="dropdown-menu">
			   		<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-remove-sign"></i> Déconnexion</a></li>
			   		<li class="divider"></li>
			   		<li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> Mon profil</a></li>
			   		<li><a href="{{ path('fos_user_change_password') }}"><i class="icon-lock"></i> Changer mon mot de passe</a></li>  		
			   </ul>
			</div>
			{% endif %}	
	      {% endblock header %}
	          </div>
	      	</div>
	     </div>
      </div>   
      <div class="container-fluid">
		  {% block container %}
		  {% endblock container %}
      </div>
      <footer>
          {% block footer %}
          {% endblock footer %}
      </footer>
      {% block modals %}
      {% endblock %}
{% endblock body%}

{% block javascripts %}
	<script src="http://code.jquery.com/jquery-2.0.3.js"></script>
        <script>window.jQuery || document.write('{% javascripts
            	'../app/Resources/public/js/jquery-2.0.3.js'
            	filter='yui_js' %}<script src="{{ asset_url }}"><\/script>{% endjavascripts %}')</script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>window.jQuery.ui || document.write('{% javascripts
            	'../app/Resources/public/js/jquery-ui-1.10.3/jquery-ui.js'
            	filter='yui_js' %}<script src="{{ asset_url }}"><\/script>{% endjavascripts %}')</script>
    {% javascripts
    	'../app/Resources/public/js/bootstrap.js'
    	'../app/Resources/public/js/jquery-ui-1.10.3/i18n/jquery.ui.datepicker-fr.js'
    	'../app/Resources/public/js/number_format.js'
    	'../app/Resources/public/js/modalform.js'
    	filter='yui_js' %}
    	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block javascripts_script %}
$('.autocompletion').autocomplete({
	source : function(request,response){
		return $.post(
			this.element.attr('data-source'),
			request, 
			function (data) { response(data);},
			'json'
		);
    },
    items:12,
});
{# z-index pour appartition dans une modal #}
$('.datepicker').datepicker({
	dateFormat:'dd/mm/yy',
});
$('.datepicker').datepicker( "option",
        $.datepicker.regional[ "fr" ] );

$(".input-money").on('change',function(){
	$(this).val(
		number_format(
			parseFloat(
				$(this).val()
				       .replace(',','.')
				       .replace(/[\s]{1,}/g,"")
			),2,',',' '
		)
	);
	return this;
});
{% endblock %}

{% block javascriptappend %}
$('.ui-autocomplete, .modal .datepicker').css('z-index','10000');
{% endblock %}
