{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Déplacements de {{ technician }}</h1>
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Création</th>
			<th>Type</th>
			<th>Début</th>
			<th>Lieu</th>
			<th>Raison</th>
			<th>Fin</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for shifting in shiftings %}
		<tr>
			<td>{{ shifting.creation | date('d/m/Y H:i')}}</td>
			<td>{{ shifting.shifting.type}}</td>
			<td>{% if shifting.begin %}{{ shifting.begin | date('d/m/Y H:i')}}{% endif %}</td>
			<td>{{ shifting.shifting.place | nl2br}}</td>
			<td>{{ shifting.shifting.reason | nl2br}}</td>
			<td>{% if shifting.end %}{{ shifting.end | date('H:i')}}{% endif %}</td>
			<td><a href="{{ path('recuperationequipment_edit',{'id':shifting.id}) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i></a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}