<form id="modalAddTech{{ id }}" action="{{ path('shifting_create',{'id':id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalAddTech{{ id }}Label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalAddTech{{ id }}Label">Ajouter un technicien</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Ajouter</button>
	</div>
</form>
