{% extends "JLMModelBundle::layout.html.twig" %}
{% form_theme edit_form '@JLMModel/form/door.html.twig' %}
{% block content %}
<h1>Edition une porte</h1>
<form action="{{ path('door_update', { 'id': entity.id }) }}" method="post" class="form-horizontal">
    {{ form_widget(edit_form) }}
    <div class="form-actions">
	   <a href="{{ path('site_show',{'id':entity.site.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche affaire</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</form>
{% endblock %}