{% extends "JLMModelBundle::layout.html.twig" %}
{% block content %}
<h1>Nouveau produit</h1>
<form action="{{ path('jlm_product_product_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
 <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="{{ path('jlm_product_product') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    	'@JLMProductBundle/Resources/public/js/product.js'
    	filter='yui_js' %}
    	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
$("body").product();
</script>
{% endblock %}