<form action="{{ path('contract_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal modal hide fade" id="modalEdit{{ entity.id }}" role="dialog" aria-labelledby="modalEditLabel{{ entity.id }}" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalEditLabel{{ entity.id }}">Edition d'un contrat</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(edit_form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer</button>
	</div>
</form>