{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>Fiche travaux</h1>
<strong>{{ entity.creation | date('d/m/Y') }}</strong><br><br>
<strong>{{ entity.place |nl2br }}</strong>
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Référence</th>
			<th>Désignation</th>
			<th>Qté</th>
		</tr>
	</thead>
	<tbody>
	{% for line in entity.lines %}
		<tr>
			<td>{{ line.reference }}</td>
			<td>{{ line.designation }}</td>
			<td>{{ line.quantity }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="form-actions">
	<a href="{{ path('order') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
{#	<a href="{{ path('order_print',{ 'id' : entity.id }) }}" class="btn btn-info"><i class="icon-print icon-white"></i> Imprimer</a> #}
{% if entity.state < 3 %}
	<a href="{{ path('order_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
{% endif %}
</div>

{% endblock %}
