<li><a href="{{ path('order_todo') }}"><span class="badge badge-warning">{{ count.todo }}</span> A faire</a></li>
<li><a href="{{ path('order') }}"><span class="badge badge-inverse">{{ count.all }}</span> Toutes</a></li>
<li><a href="{{ path('order_state', {'page':1, 'state':0 }) }}"><span class="badge">{{ count.input }}</span> En saisie</a></li>
<li><a href="{{ path('order_state', {'page':1, 'state':1 }) }}"><span class="badge badge-info">{{ count.ordered }}</span> En préparation</a></li>
<li><a href="{{ path('order_state', {'page':1, 'state':2 }) }}"><span class="badge badge-success">{{ count.ready }}</span> Prêtes</a></li>