{% extends "JLMModelBundle::layout.html.twig" %}
{% block content %}
<h1>Nouveau contact de syndic</h1>
<form action="{{ path('trustee_contact_create',{'id':trustee.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="{{ path('trustee_show',{'id':trustee.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour au syndic</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
{% endblock %}

