{% block generic_label %}
{% spaceless %}
    {{ label|trans }}
{% endspaceless %}
{% endblock %}

{% block form_widget %}
{% spaceless %}
    <li {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
    </li>
{{ form_rest(form) }}
{% endspaceless %}
{% endblock form_widget %}

{% block field_rows %}
{% spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
    <td><a href="#" class="btn btn-danger collection-remove"><i class="icon-trash icon-white"></i></a></td>
{% endspaceless %}
{% endblock field_rows %}

{% block field_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock field_row %}

