{% block generic_label %}
{% spaceless %}
    {{ label|trans }}
{% endspaceless %}
{% endblock %}

{% block form_widget %}
{% spaceless %}
    <li {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
    </li>
{{ form_rest(form) }}
{% endspaceless %}
{% endblock form_widget %}

{% block field_rows %}
{% spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
    {{ block('delete_button') }}
{% endspaceless %}
{% endblock field_rows %}

{% block field_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock field_row %}

{% block delete_button %}
<a href="#" class="btn btn-danger remove"><i class="icon-trash icon-white"></i></a>
{% endblock delete_button %}

{% block jlm_modelbundle_addresstype_widget %}
{% spaceless %}
{{ form_widget(form.street) }} {{ block('delete_button') }}<br>
{{ form_widget(form.city) }}<br>
<label class="checkbox">{{ form_widget(form.billing) }} {{ form_label(form.billing) }}</label>
{% endspaceless %}
{% endblock jlm_modelbundle_addresstype_widget %}