{% block form_label %}
{% spaceless %}
	{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}



{% block form_row %}
{% spaceless %}
    {% set type = type|default('text') %}
	<div class="control-group{% if form_errors(form) %} error{% endif %}">
		{{ form_label(form, label|default(null)) }}
		<div class="controls">
            {{ form_widget(form) }}
            {% if form_errors(form) %}<span class="help-inline">{{ form_errors(form) }}</span>{% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block collection_widget %}
{% spaceless %}

    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    <tbody {{ block('widget_container_attributes') }}>
		{{ block('form_rows') }}
    </tbody>
	{{ form_rest(form) }}
{% endspaceless %}
{% endblock collection_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
{% form_theme form 'JLMOfficeBundle:Form:choices.html.twig' %}
    {% for child in form %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' checkbox inline' }) %}
        <label {{ block('widget_container_attributes') }}>
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </label>
        {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block money_widget %}
{% spaceless %}
    <div class="input-append">{{ block('form_widget_simple') }}<span class="add-on">€</span></div>
{% endspaceless %}
{% endblock money_widget %}

{% block search_widget %}
{% spaceless %}
    {% set type = type|default('search') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock search_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <div class="input-append">{{ block('form_widget_simple') }}<span class="add-on">%</span></div>
{% endspaceless %}
{% endblock percent_widget %}

{% block email_widget %}
{% spaceless %}
	<div class="input-prepend">
<span class="add-on"><i class="icon-envelope"></i></span>{{ block('form_widget_simple') }}</div>
{% endspaceless %}
{% endblock email_widget %}

// Personal Types
{% block city_select_widget %}
{% spaceless %}
{% set attr = attr|merge({'data-source':  path('autocomplete_city') }) %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' autocompletion' }) %}
{{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock city_select_widget %}

{% block trustee_select_widget %}
{% spaceless %}
{% set attr = attr|merge({'data-source':  path('autocomplete_trustee') }) %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' autocompletion' }) %}
{{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock trustee_select_widget %}

{% block site_select_widget %}
{% spaceless %}
{% set attr = attr|merge({'data-source':  path('autocomplete_site') }) %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' autocompletion' }) %}
{{ block('textarea_widget') }}
{% endspaceless %}
{% endblock site_select_widget %}

{% block datepicker_widget %}
{% spaceless %}
<div class="input-prepend"><span class="add-on"><i class="icon-calendar"></i></span>{{ block('field_widget') }}</div>
{% endspaceless %}
{% endblock datepicker_widget %}

{% block distance_widget %}
{% spaceless %}
<div class="input-append">{{ block('field_widget') }}<span class="add-on">mm</span></div>
{% endspaceless %}
{% endblock distance_widget %}

{% block address_widget %}
{% spaceless %}
	  {{ form_widget(form.street) }}<br>
	  {{ form_widget(form.city) }}
{% endspaceless %}
{% endblock address_widget %}



{% block quote_widget %}
{% form_theme form.lines 'JLMOfficeBundle:Form:quote.html.twig' %}
<div class="row_fluid">
    	<div class="span6 well">
    	{{ form_row(form.follower) }}
    	{{ form_row(form.followerCp) }}
    	{{ form_row(form.door) }}
    	{{ form_row(form.doorCp) }}
    	</div>
    	<div class="span6">
    	{{ form_row(form.creation) }}
    	{{ form_row(form.trustee) }}
    	{{ form_row(form.trusteeName) }}
    	{{ form_row(form.trusteeAddress) }}
    	{{ form_row(form.contact) }}
    	{{ form_row(form.contactCp) }}
    	</div>
    </div>
    <div class="row_fluid">
    {{ form_widget(form.intro) }}
    </div>
    <table class="table table-bordered">
    <thead>
    <tr>
    <th>Référence</th>
    <th>Designation</th>
    <th>Qté</th>
    <th>PU HT</th>
    <th>Remise</th>
    <th>TVA</th>
    <th>PT HT</th>
    <th class="span1"><a href="#" class="btn btn-success newline"><i class="icon-plus-sign icon-white"></i></a></th>
    </tr>
    </thead>
    {{ form_widget(form.lines) }}
    </table>
    <div class="row_fluid">
	    <div class="span6">
	    <div class="control-group">
	    		<label class="control-label">Total HT avant remise</label>
	    		<div class="controls">
	    			<div class="input-append"><span class="input-small uneditable-input" id="quote_total_htbd">0,00</span><span class="add-on">€</span></div>
	    		</div>
	    	</div>
	    	{{ form_row(form.discount) }}
	    	<div class="control-group">
	    		<label class="control-label">Montant remise</label>
	    		<div class="controls">
	    			<div class="input-append"><span class="input-small uneditable-input" id="quote_total_discount">0,00</span><span class="add-on">€</span></div>
	    		</div>
	    	</div>
	    </div>
	    <div class="span6 well">
	    	<div class="control-group">
	    		<label class="control-label">Total HT</label>
	    		<div class="controls">
	    			<div class="input-append"><span class="input-small uneditable-input" id="quote_total_ht">0,00</span><span class="add-on">€</span></div>
	    		</div>
	    	</div>
	    	<div class="control-group">
	    		<label class="control-label">Total TVA</label>
	    		<div class="controls">
	    			<div class="input-append"><span class="input-small uneditable-input" id="quote_total_tva">0,00</span><span class="add-on">€</span></div>
	    		</div>
	    	</div>
	    	<div class="control-group">
	    		<label class="control-label">Total TTC</label>
	    		<div class="controls">
	    			<div class="input-append"><span class="input-small uneditable-input" id="quote_total_ttc">0,00</span><span class="add-on">€</span></div>
	    		</div>
	    	</div>
	    </div>
    </div>
    {{ form_widget(form) }}
{% endblock %}

{% block quote_line_row %}
<tr {{ block('widget_container_attributes') }}>
<td>{{ form_widget(form.position) }}{{ form_widget(form.product) }}{{ form_widget(form.reference) }}</td>
    <td><div class="input-append">{{ form_widget(form.designation) }}<a class="add-on show-description" href="#"><i class="icon-plus-sign"></i></a></div>
    {{ form_widget(form.showDescription) }}
	{{ form_widget(form.description) }}
    </td>
    <td>{{ form_widget(form.quantity) }}</td>
    <td>{{ form_widget(form.unitPrice) }}</td>
    <td>{{ form_widget(form.discount) }}</td>
    <td>{{ form_widget(form.vat) }}</div></td>
    <td><div class="input-append"><span class="input-mini uneditable-input" id="{{ id }}_total">0,00</span><span class="add-on">€</span></div></td>
    <td><a href="#" class="btn btn-danger remove-line"><i class="icon-minus-sign icon-white"></i></a></td>
</tr>
{% endblock quote_line_row %}