{% block _quote_vat_label %}
{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-md-2 control-label')|trim}) %}
{{ block('form_label') }}
{% endblock %}

{% block _quote_submit_widget %}
{% set icon = 'save' %}
{{ block('submit_widget') }}
{% endblock %}

{% block quote_widget %}
<div class="row clearfix">
	<div class="col-md-6">
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h2 class="panel-title">Affaire</h2>
	    </div>
	    <div class="panel-body">
    	  {{ form_widget(form.doorCp) }}
    	</div>
    	<div class="panel-footer form-inline">
    	  Créé le {{ form_widget(form.creation) }} par {{ form_widget(form.followerCp) }}
    	</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
	    <div class="panel-heading">
	      <h2 class="panel-title">Destinataire</h2>
	    </div>
	    <div class="panel-body">
    	  {{ form_widget(form.trusteeName) }}
    	  {{ form_widget(form.trusteeAddress) }}
    	</div>
    	<div class="panel-footer form-inline">
    	  à l'attention de {{ form_widget(form.contactCp) }}
    	</div>
      </div>
    </div>
</div>
<div class="form-horizontal">
  <div class="form-group">
    {{ form_label(form.vat) }}
    <div class="col-md-2 offset-col-md-8">
      {{ form_widget(form.vat) }}
    </div>
  </div>  
</div>
{{ form_rest(form) }}
{% endblock %}

{% block _quote_variant_creation_label %}
{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-md-2 control-label')|trim}) %}
{{ block('form_label') }}
{% endblock %}

{% block _quote_variant_discount_label %}
{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-md-6 control-label')|trim}) %}
{{ block('form_label') }}
{% endblock %}

{% block quote_variant_widget %}
<div class="form-horizontal">
  <div class="form-group">
    {{ form_label(form.creation) }}
    <div class="col-md-2 offset-col-md-8">
      {{ form_widget(form.creation) }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        {{ form_widget(form.intro) }}
      </div>
      <ul class="nav nav-tabs">
        <li class="tab-quote active"><a href="#">Devis</a></li>
        <li class="tab-coding"><a href="#">Chiffrage</a></li>
      </ul>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="130px" class="visible-lg">Référence</th>
            <th>Designation</th>
            <th width="80px">Qté</th>
            <th width="135px" class="col-coding">PA HT</th>
            <th width="100px" class="col-coding">Remise</th>
            <th width="100px" class="col-coding">Frais</th>
            <th width="125px" class="col-coding">Port</th>
            <th width="135px" class="col-coding">Coef.</th>
            <th width="135px" class="col-quote">PU HT</th>
            <th width="100px" class="col-quote">Remise</th>
            <th width="110px" class="col-quote">TVA</th>
            <th width="100px">PT HT</th>
            <th width="60px">
              <a href="#" class="btn btn-success newline">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </th>
          </tr>
        </thead>
        {{ form_widget(form.lines) }}
      </table>      


{#} Grid format
<div class="panel-body">
<div class="row">
  <div class="col-md-2 col-quote">Référence</div>
  <div class="col-md-3">Désignation</div>
  <div class="col-md-1">Qté</div>
  <div class="col-md-2 col-coding">PA HT</div>
  <div class="col-md-1 col-coding">Remise</div>
  <div class="col-md-1 col-coding">Frais</div>
  <div class="col-md-1 col-coding">Port</div>
  <div class="col-md-1 col-coding">Coef.</div>
  <div class="col-md-2 col-quote">PU HT</div>
  <div class="col-md-1 col-quote">Remise</div>
  <div class="col-md-1 col-quote">TVA</div>
  <div class="col-md-1">PT HT</div>
  <div class="col-md-1">
    <a href="#" class="btn btn-success newline">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
</div>
{{ form_widget(form.lines) }}
</div>
{# end Grid format #}
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6 form-horizontal">
            <div class="form-group">
	          <label class="col-md-6 control-label">Total HT avant remise</label>
	          <div class="col-md-6">
	            <p class="form-control-static">
	              <span id="quote_variant_total_htbd">0,00</span> €
	            </p>
	          </div>
	        </div>
	        <div class="form-group">
	          {{ form_label(form.discount) }}
    	      <div class="col-md-3 offset-col-md-3">
	            {{ form_widget(form.discount) }}
	          </div>
    	    </div>
	        <div class="form-group">
	          <label class="col-md-6 control-label">Montant remise</label>
    	      <div class="col-md-6">
	            <p class="form-control-static">
	              <span id="quote_variant_total_discount">0,00</span> €
	            </p>
    	      </div>
	        </div>
	      </div>
	      <div class="col-md-6 form-horizontal">
	        <div class="form-group col-coding">
	          <label class="col-md-6 control-label">Total achat</label>
	          <div class="col-md-6">
	            <p class="form-control-static">
	              <span id="quote_variant_total_purchase">0,00</span> €
	            </p>
	          </div>
	        </div>
	        <div class="form-group">
	          <label class="col-md-6 control-label">Total HT</label>
	          <div class="col-md-6">
	            <p class="form-control-static">
	              <span id="quote_variant_total_ht">0,00</span> €
	            </p>
	          </div>
    	    </div>
	        <div class="form-group col-coding">
	          <label class="col-md-6 control-label">Marge</label>
    	      <div class="col-md-6">
	            <p class="form-control-static">
	              <span id="quote_variant_total_margin">0,00</span> €
	            </p>
    	      </div>
	        </div>
	        <div class="form-group col-quote">
    	      <label class="col-md-6 control-label">Total TVA</label>
    	      <div class="col-md-6">
	            <p class="form-control-static">
	              <span id="quote_variant_total_tva">0,00</span> €
	            </p>
    	      </div>
	        </div>
	        <div class="form-group col-quote">
    	      <label class="col-md-6 control-label">Total TTC</label>
	          <div class="col-md-6">
	            <p class="form-control-static">
	              <span id="quote_variant_total_ttc">0,00</span> €
    	        </p>
	          </div>
	        </div>
    	  </div>
        </div>
      </div>
    </div>
    {{ form_rest(form) }}
  </div>
</div>
{% endblock %}

{% block _quote_variant_lines_widget %}
{% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
<tbody {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
</tbody>
{% endblock _quote_variant_lines_widget %}

{% block quote_line_row %}
<tr {{ block('widget_container_attributes') }}>
    <td class="visible-lg">
        {{ form_widget(form.position) }}
        {{ form_widget(form.product) }}
        {{ form_widget(form.isTransmitter) }}
        {{ form_widget(form.reference) }}
    </td>
    <td>
      <div class="input-group">
        {{ form_widget(form.designation) }}
        <a class="input-group-addon show-description" href="#">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
	  {{ form_widget(form.showDescription) }}    
	  {{ form_widget(form.description) }}
    </td>
    <td>{{ form_widget(form.quantity) }}</td>
    <td class="col-coding">{{ form_widget(form.purchasePrice) }}</td>
    <td class="col-coding">{{ form_widget(form.discountSupplier) }}</td>
    <td class="col-coding">{{ form_widget(form.expenseRatio) }}</td>
    <td class="col-coding">{{ form_widget(form.shipping) }}</td>
    <td class="col-coding">
      <div class="input-group">
		<input id="{{ id }}_coef" type="text" class="form-control">
		<span class="input-group-addon">%</span>
	  </div>
	</td>
    <td class="col-quote">{{ form_widget(form.unitPrice) }}</td>
    <td class="col-quote">{{ form_widget(form.discount) }}</td>
    <td class="col-quote">{{ form_widget(form.vat) }}</td>
    <td>
      <p class="form-control-static"><span id="{{ id }}_total">0,00</span> €</p>
    </td>
    <td>
      <button class="btn btn-danger remove-line">
        <span class="glyphicon glyphicon-minus-sign"></span>
      </button>
    </td>
</tr>
{% endblock quote_line_row %}
{#}
{% block quote_line_row %}
<div {{ block('widget_container_attributes') }} class="row">
  <div class="col-md-2 col-quote">
        {{ form_widget(form.position) }}
        {{ form_widget(form.product) }}
        {{ form_widget(form.isTransmitter) }}
        {{ form_widget(form.reference) }}
  </div>
  <div class="col-md-3">
      <div class="input-group">
        {{ form_widget(form.designation) }}
        <a class="input-group-addon show-description" href="#">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
	  {{ form_widget(form.showDescription) }}    
	  {{ form_widget(form.description) }}
    </div>
    <div class="col-md-1">{{ form_widget(form.quantity) }}</div>
    <div class="col-md-2 col-coding">{{ form_widget(form.purchasePrice) }}</div>
    <div class="col-md-1 col-coding">{{ form_widget(form.discountSupplier) }}</div>
    <div class="col-md-1 col-coding">{{ form_widget(form.expenseRatio) }}</div>
    <div class="col-md-1 col-coding">{{ form_widget(form.shipping) }}</div>
    <div class="col-md-1 col-coding">
      <div class="input-group">
		<input id="{{ id }}_coef" type="text" class="form-control">
		<span class="input-group-addon">%</span>
	  </div>
	</div>
    <div class="col-md-2 col-quote">{{ form_widget(form.unitPrice) }}</div>
    <div class="col-md-1 col-quote">{{ form_widget(form.discount) }}</div>
    <div class="col-md-1 col-quote">{{ form_widget(form.vat) }}</div>
    <div class="col-md-1">
      <p class="form-control-static"><span id="{{ id }}_total">0,00</span> €</p>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger remove-line">
        <span class="glyphicon glyphicon-minus-sign"></span>
      </button>
    </div>
</div>
{% endblock quote_line_row %}
{#}