{# JLMDailyBundle:Maintenance:close.html.twig #}

<form id="modalClose{{ entity.id }}" action="{{ path('work_closeupdate',{'id':entity.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalClose{{ entity.id }}Label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalClose{{ entity.id }}Label">Cloture des travaux</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer</button>
	</div>
</form>