{# JLMDailyBundle:Fixing:new.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Nouvelle travaux</h1>
{% if entity.quote %}
<h4>Devis {{ entity.quote.number }}</h4>
{% endif %}
<form action="{{ path('work_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('work_list') }}" class="btn btn-default">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Valider les nouveaux traveaux</button>
	</div>
	</fieldset>
</form>
{% endblock %}