{# JLMDailyBundle:Fixing:new.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Nouvelle panne</h1>
<h4>{{ door|nl2br }}</h4>
<form action="{{ path('fixing_create', {'id':door.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('fixing_list') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	   <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Valider la nouvelle panne</button>
	</div>
	</fieldset>
</form>
{% endblock %}