{# JLMDailyBundle:Work:show.html.twig #}
{% extends "JLMDailyBundle:Intervention:show.html.twig" %}

{% block officeaction %}
	{% if entity.objective.id == 1 %}
		{% set preferbill = 1 %}
	{% else %}
		{% set preferbill = 0 %}
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block reference %}
	 	{% if entity.quote %}Selon devis n°{{ entity.quote.number }}<br>{% endif %}
{% endblock %}

{% block report %}
	 <tr><th>Type</th><td>{{ entity.category }}</td><td></td></tr>
	 <tr><th>Objectif</th><td>{{ entity.objective }}</td><td></td></tr>
{% endblock %}

{% block actions %}
    <a href="{{ path('work_list') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
    <a href="{{ path('work_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a> 
	<a href="#modalClose{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% if not entity.closed %}Cloturer{% else %}Editer cloture{% endif %}</a>
	{% render 'JLMDailyBundle:Work:close' with {'id':entity.id} %}
	{{ parent() }}
{% endblock %}