{# JLMDailyBundle:Work:show.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Travaux</h1>
{% include "JLMDailyBundle:Intervention:show.html.twig" with {'entity' : entity} %}


	 <h4>Rapport</h4>
	 <table class="table">
	 <tbody>
	 <tr><th>Type</th><td>{{ entity.category }}</td></tr>
	 <tr><th>Objectif</th><td>{{ entity.objective }}</td></tr>
{% if entity.closed %}
	 <tr><th>Rapport</th><td>{{ entity.report | nl2br}}</td></tr>
	 {% if entity.rest %}<tr><th>Reste à faire</th><td>{{ entity.rest  | nl2br }}<br>{% include "JLMDailyBundle:Work:otheraction.html.twig" with {'entity' : entity} %}</td></tr>{% endif %}
	 <tr><th>Action bureau</th><td>
	{% if entity.officeAction %}{{ entity.officeAction.type }}
	{% else %}{% include "JLMDailyBundle:Work:officeaction.html.twig" with {'entity' : entity} %}
	{% endif %}
	 </td></tr>
{% endif %}
	 </tbody>
	 </table>


<div class="form-actions">
    <a href="{{ path('work_list') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
    <a href="{{ path('work_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a> 
	<a href="{{ path('work_close',{'id':entity.id}) }}" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% if not entity.closed %}Cloturer{% else %}Editer cloture{% endif %}</a>
</div>
{% endblock %}