Le contact
<strong>{{ entity.title }} {{ entity.firstName }} {{ entity.lastName }}</strong>
a bien été enregistré
<span class="hide id">{{ entity.id }}</span>
<span class="hide name">{{ entity.title }} {{ entity.firstName }} {{ entity.lastName }}</span>