{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Envoyer un e-mail</h1>
<form action="{{ path('maintenance_email',{'id': entity.id,'step':step}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
    {{ form_widget(form) }}
    {#}<div class="control-group">
		<label class="control-label required">Pièce jointe</label>
		<div class="controls">
			<div class="input-prepend">
				<span class="add-on">{{ 'file'|icon }}</span>
			</div>
		</div>
	</div>{#}
	<div class="form-actions">
	   <button type="submit" class="btn btn-primary">{{ 'share-alt'|icon(true) }} Envoyer</button>
	</div>
</fieldset>
</form>
{% endblock %}
