<table class="table table-stripped">
    <thead>
        <tr>
        	<th></th>
            <th>Nom</th>
            <th>Téléphones</th>
            <th>Fax</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in suppliers %}
        <tr>
        	<td>
                <a href="{{ path('supplier_show', { 'id': entity.id }) }}" class="btn btn-default">{{ 'eye-open'|icon }}</a>
            </td>
            <td>{{ entity.name }}</td>
            <td><ul>
            	{% for phone in entity.phones %}
            	<li>{{ phone }}</li>
            	{% endfor %}
            </ul></td>
            <td>{% if entity.email %}<a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>