{% block jlm_product_product_widget %}
<fieldset>
{{ form_row(form.reference) }}
{# form_row(form.barcode) #}
{{ form_row(form.category) }}
{{ form_row(form.designation) }}
{{ form_row(form.description) }}
{# form_row(form.supplier) #}
{{ form_row(form.unity) }}
{{ form_row(form.unitPrice) }}
<table class="table">
	<thead>
		<tr>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.priority'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.supplier'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.reference'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.publicPrice'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.discount'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.unitPrice'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.expenseRatio'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.expense'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.delivery'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.totalPrice'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.coeficient'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.margin'|trans }}</th>
			<th>{{ 'jlm_product_supplierPurchasePrice.labels.sellPrice'|trans }}</th>
			<th class="span1"><a href="#" class="btn btn-success" id="{{ id }}_addSupplierPurchasePrice">{{ 'plus-sign'|icon(true) }}</a></th>
		</tr>
	</thead>
{{ form_row(form.supplierPurchasePrices) }}
</table>
<div class="form-actions">
{{ form_rest(form) }}
<a href="{{ path('jlm_product_product') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
</div>
</fieldset>
{% endblock jlm_product_product_widget %}

{% block jlm_product_supplierpurchaseprice_row %}
	<tr id="{{ id }}">
		{% for child in form %}
		<td class="control-group">{{ form_widget(child) }}</td>
		{% endfor %}
	    <td><a href="#" class="btn btn-danger" id="{{ id }}_remove">{{ 'minus-sign'|icon(true) }}</a></td>
	</tr>
{% endblock %}

{% block jlm_product_product_javascript %}
{% javascripts
    	'@JLMProductBundle/Resources/public/js/product.js'
    	filter='yui_js' %}
    	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
$(function() {$('#{{ id }}').product();});
</script>
{% endblock %}