{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}

<h1>{{ entity.name }}</h1>
<address>
	{{ entity.address|nl2br }}
	<br>Tel : {{ entity.phone }}
	{% if entity.fax %}<br>Fax : {{ entity.fax }}{% endif %}
	<br>
	{% if entity.email %}<br>e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}
	{% if entity.website %}<br>Site internet : <a href="{{ entity.website }}">{{ entity.website }}</a>{% endif %}
</address>
<div class="form-actions">
	<a href="{{ path('supplier') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('supplier_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
</div>
 {% endblock %}