{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}

<h1>{{ entity.name }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>Téléphone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
    		<td>{{ entity.phone }}</td>
    		<td>{{ entity.email }}</td>
    	</tr>
    </tbody>
</table>
<div class="form-actions">
	<a href="{{ path('supplier') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('supplier_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
</div>
 {% endblock %}