{% extends "JLMTransmitterBundle:Ask:layout.html.twig" %}

{% block content %}
<h1>Attribution d'émetteurs</h1>
<div class="row-fluid">
<div class="span6">
<dl class="dl-horizontal">
	<dt>Date</dt>
	<dd>{{ entity.creation|date('d/m/Y') }}</dd>
	<dt>Contact</dt>
    <dd>{{ entity.contact }}{% if entity.individual %} (particulier){% endif %}</dd>
    <dt>Affaire</dt>
    <dd>{{ entity.ask.site.address.street | nl2br }}</dd>
    <dd><strong>{{ entity.ask.site.address.city.name | upper }}</strong> <small>{{ entity.ask.site.address.city.zip }}</small></dd>
    <dd><a href="{{ path('transmitter_site_printlist',{'id':entity.ask.site.id}) }}" class="btn btn-info btn-mini"><i class="icon-white icon-print"></i> Imprimer la liste complète</a>
    <dt>Demande</dt>
    <dd>{{ entity.ask.ask | nl2br }}</dd>
</dl>
</div>
<div class="span6">
<h4>Groupes utilisateurs</h4>
<ul>
	{% for userGroup in entity.ask.site.userGroups %}
		{% include 'JLMTransmitterBundle:UserGroup:list_li.html.twig' with {'userGroup':userGroup} %}
	{% endfor %}
	</ul>
	<a href="{{ path('transmitter_usergroup_new', {'id': entity.ask.site.id}) }}"  role="button" class="btn btn-success btn-small usergroup-new"><i class="icon-plus-sign icon-white"></i> Ajouter un groupe utilisateur</a>
</div>
</div>
<div class="form-actions">
	<a href="{{ path('transmitter_attribution_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-white icon-pencil"></i> Editer</a>
	<a href="{{ path('transmitter_new', { 'id': entity.id }) }}" role="button" class="btn btn-success transmitter-new"><i class="icon-plus-sign icon-white"></i> Ajouter un émetteur</a>
	<a href="{{ path('transmitter_series_new', { 'id': entity.id }) }}" role="button" class="btn btn-success series-new"><i class="icon-plus-sign icon-white"></i> Ajouter une suite d'émetteurs</a>
	<a href="{{ path('transmitter_replacement_new', { 'id': entity.id }) }}" role="button" class="btn btn-primary replacement-new"><i class="icon-refresh icon-white"></i> Remplacement d'émetteurs</a>
	<a href="{{ path('transmitter_attribution_printlist', { 'id': entity.id }) }}" role="button" class="btn btn-info"><i class="icon-print icon-white"></i> Imprimer la liste</a>
	<a href="{{ path('transmitter_attribution_printcourrier', { 'id': entity.id }) }}" role="button" class="btn btn-info"><i class="icon-print icon-white"></i> Imprimer le courrier</a>
	{% if entity.bill %}
	<a href="{{ path('bill_print', {'id': entity.bill.id}) }}" role="button" class="btn btn-primary"><i class="icon-print icon-white"></i> Facture</a>
	{% else %}
	<a href="{{ path('bill_new', { 'attribution': entity.id }) }}" role="button" class="btn btn-primary"><i class="icon-print icon-white"></i> Facturer</a>
	{% endif %}
</div>
{% if entity.transmitters|length > 0 %}
<h3></h3>
	{% include 'JLMTransmitterBundle:Transmitter:table_row.html.twig' with {'transmitters':entity.transmitters} %}
{% else %}
<h3>Pas d'émetteur attribué</h3>
{% endif %}
{% endblock %}

{% block modals %}{#
{{ render(controller('JLMTransmitterBundle:Transmitter:new',{'id':entity.id})) }}
{{ render(controller('JLMTransmitterBundle:Series:new',{'id':entity.id})) }}
{{ render(controller('JLMTransmitterBundle:Replacement:new',{'id':entity.id})) }}
{{ render(controller('JLMTransmitterBundle:UserGroup:new',{'id':entity.ask.site.id})) }}

{% for  transmitter in entity.transmitters %}
{{ render(controller('JLMTransmitterBundle:Transmitter:edit',{'id':transmitter.id})) }}
{% endfor %}
#}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/jlmtransmitter/js/transmitter.js') }}"></script>
<script src="{{ asset('bundles/jlmtransmitter/js/transmitter_series.js') }}"></script>
{% endblock %}

{% block javascripts_script %}
{{ parent() }}
$("a").tooltip();
$(".transmitter").transmitter({urlModel:'{{ path('transmitter_usergroup_defaultmodelid', {'id':0}) }}'});
$(".transmitter_series").transmitterSeries({urlModel:'{{ path('transmitter_usergroup_defaultmodelid', {'id':0}) }}'});
$(".usergroup").modalForm();
$(".transmitter_replacement").modalForm();

$(".transmitter-new").formModal({closure: function(){location.reload();}});
$(".usergroup-new, .usergroup-edit").formModal({closure: function(){location.reload();}});
$(".series-new").formModal({closure: function(){location.reload();}});
$(".replacement-new").formModal({closure: function(){location.reload();}});
$(".editTransmitter").click(function(){
	var href = $(this).attr('href');
	var id = href.replace('#modalEditTransmitter','');
	var linkurl = '{{ path('transmitter_edit',{'id':0}) }}';
	linkurl = linkurl.replace('/0/','/' + id + '/');
	$.ajax({
		url: linkurl, 
		type: 'get', 
		success: function(html) {
			$('footer').after(html);
			$(href).find(".modal-body > div").transmitter({urlModel:'{{ path('transmitter_usergroup_defaultmodelid', {'id':0}) }}'});
			$(href).modal({'show':true});
		}
	});
	return false;
});

$(".editUserGroup").click(function(){
	var href = $(this).attr('href');
	var id = href.replace('#modalEditUserGroup','');
	var linkurl = '{{ path('transmitter_usergroup_edit',{'id':0}) }}';
	linkurl = linkurl.replace('/0/','/' + id + '/');
	$.ajax({
		url: linkurl, 
		type: 'get', 
		success: function(html) {
			$('footer').after(html);
			$(href).find(".modal-body > div").modalForm();
			$(href).modal({'show':true});
		}
	});
	return false;
});
{% endblock %}
