{% extends "JLMOfficeBundle::layout.html.twig" %} 
{% block sidebar %}
	<li><h4>Devis</h4></li>
	<li>{{ form(search.form, {'action': path('quote_search')}) }}</li>
	<li><a href="{{ path('askquote_new') }}">{{ 'plus-sign'|icon }} Nouvelle demande de devis</a></li>
	<li class="divider"></li>
	<li class="nav-header">États</li>
 	{% include '@JLMCommerce/quote/sidebar.html.twig' %}
	<li class="divider"></li>
	<li class="nav-header">Derniers devis</li>
	{% include '@JLMCommerce/quote/last.html.twig' %}
{% endblock sidebar %}


{% block javascripts %}
{{ parent() }}
    {% javascripts
    	'@JLMCommerceBundle/Resources/public/js/quote.js'
        filter='yui_js' %}
    	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}