<li><a href="{{ path('transmitter_ask') }}"><span class="badge badge-inverse">{{ transmitteraskcount.all }}</span> Toutes</a></li>
<li><a href="{{ path('transmitter_ask_untreated') }}"><span class="badge badge-warning">{{ transmitteraskcount.untreated }}</span> Non traitées</a></li>
<li><a href="{{ path('transmitter_ask_treated') }}"><span class="badge badge-success">{{ transmitteraskcount.treated }}</span> Traitées</a></li>