<li><a href="{{ path('transmitter_ask') }}"><span class="badge badge-inverse">{{ all }}</span> Toutes</a></li>
<li><a href="{{ path('transmitter_ask_untreated') }}"><span class="badge badge-warning">{{ untreated }}</span> Non traitées</a></li>
<li><a href="{{ path('transmitter_ask_treated') }}"><span class="badge badge-success">{{ treated }}</span> Traitées</a></li>