{% extends "JLMModelBundle::layout.html.twig" %}
{% block content %}
<h1>Edition d'une affaire</h1>
{{ form_errors(edit_form) }}
<form action="{{ path('site_update', { 'id': entity.id }) }}" method="post" class="form-horizontal">
    <fieldset>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
	   <a href="{{ path('trustee_show',{'id':entity.trustee.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche syndic</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
</form>
{% endblock %}
