<table class="table table-stripped">
    <thead>
        <tr>
        	<th></th>
            <th>Adresse</th>
            <th>Syndic</th>
            <th>Téléphone syndic</th>
            <th>TVA</th>
            <th>Nb portes</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in sites %}
        <tr>
        	<td>
                <a href="{{ path('site_show', { 'id': entity.id }) }}" class="btn">{{ 'eye-open'|icon }}</a>
           </td>
            <td>{{ entity.address.street | nl2br}}
            <br>{{ entity.address.city.zip }} {{ entity.address.city.name|upper }}</td>
            <td>{{ entity.trustee }}</td>
            <td>
              <ul>
              <li>{{ entity.trustee }}<ul>
              {% for phone in entity.trustee.phones %}
                <li>{{ phone.label }} : {{ phone.number }}</li>
              {% endfor %}
              </ul></li>
              {% for contact in entity.contacts %}
              <li>{{ contact.name }} ({{ contact.role }})
                  <ul>
                {% for phone in contact.person.phones %}
                  <li>{{ phone.label }} : {{ phone.number }}</li>
                {% endfor %}
                </ul></li>
              {% endfor %}
              </ul></td>
            <td>{{ entity.vat }}</td>
            <td>{{ entity.doors|length }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>