{% extends 'JLMContactBundle::layout.html.twig' %}

{% block content %}
    <h1>Person</h1>

    <table class="table">
        <tbody>            <tr>
                <th>Id</th>                <td>{{ entity.id }}</td>            </tr>            <tr>
                <th>Title</th>                <td>{{ entity.title }}</td>            </tr>            <tr>
                <th>Firstname</th>                <td>{{ entity.firstName }}</td>            </tr>            <tr>
                <th>Lastname</th>                <td>{{ entity.lastName }}</td>            </tr>        </tbody>
    </table>

        <div class="form-actions">
	<a href="{{ path('jlm_contact_person') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
    <a href="{{ path('jlm_contact_person_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="#modalDelete{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-danger"><i class="icon-remove icon-white"></i> Supprimer</a>
</div>
{% endblock content %}
