{% extends "JLMUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-error">
    	<button type="button" class="close" data-dismiss="alert">×</button>
		{{ error|trans({}, 'FOSUserBundle') }}
	</div>
{% endif %}
<div class="col-lg-offset-4 col-lg-4 well">
<h2>Mon compte</h2>
<form role="form" action="{{ path("fos_user_security_check") }}" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
  <div class="form-group">
    <input class="form-control input-lg" type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" value="{{ last_username }}" required="required">
    <input class="form-control input-lg" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required">
  </div>
  <div class="checkbox">
    <label for="remember_me">
      <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>
  </div>
   <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-lg btn-block">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
</div>
{% endblock fos_user_content %}