<div class="row-fluid">
    <div class="span5">
    	<strong>Créé le {{ quote.creation|date('d/m/Y') }}
    	<br>par {{ quote.followerCp }}</strong>
        <br><br>{{ quote.doorCp | nl2br }}

    </div>
    <div class="span5 offset2 well">
    	<strong>Facturation</strong>
        <br>{{ quote.trusteeName }}
        <br>{{ quote.trusteeAddress | nl2br  }}
        <br>
        <br>à l'attention de {{ quote.contactCp }}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
		<table class="table">
		<tr><th>Date</th><th>Évenement</th><th>Commentaire</th>
		{% for event in quote.events %}
		  <tr><td>{{ event.date|date('d/m/Y') }}</td><td>{{ event.name|trans }}</td><td>
		  <dl>
		  {% for name,value in event.options %}
		  <dt>{{ name|trans }}</dt>
		  <dd>{{ value }}</dd>
		  {% endfor %}
		  </dl>
		  </td></tr>
		{% endfor %}
		</table>
    </div>
</div>