<li><a href="{{ path('quote') }}">{{ quotecount.all|badge('inverse') }} Tout les devis</a></li>
<li><a href="{{ path('quote', { 'state' : 'in_seizure' }) }}">{{ quotecount.input|badge }} En saisie</a></li>
<li><a href="{{ path('quote', { 'state' : 'waiting' }) }}">{{ quotecount.wait|badge('warning') }} En attente</a></li>
<li><a href="{{ path('quote', { 'state' : 'sended' }) }}">{{ quotecount.send|badge('info') }} Envoyés</a></li>
<li><a href="{{ path('quote', { 'state' : 'given' }) }}">{{ quotecount.given|badge('success') }} Accordés</a></li>
<li><a href="{{ path('quote', { 'view': 'follow' }) }}">Suivi des devis</a></li>