{# JLMDailyBundle:Work:edit.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Editer travaux</h1>
<form action="{{ path('work_update', {'id':entity.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('work_show',{'id':entity.id}) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la fiche</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
	</fieldset>
</form>
{% endblock %}