{% block extends %}
{{ "{% extends '::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}
    <h1>Edition d'un {{ entity }}</h1>

    {{ '{{ form(edit_form) }}' }}

    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock content %}" }}
{% endblock body %}
