{% extends "JLMModelBundle::layout.html.twig" %}
{% form_theme form 'JLMModelBundle:Form:trustee.html.twig' %}
{% block content %}
<h1>Nouveau syndic</h1>
{% if form.errors %}
<div class="alert">{{ form.errors }}</div>
{% endif %}
<form action="{{ path('trustee_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="{{ path('trustee') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	   <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer les modifications</button>
	</div>
</form>
{% endblock %}

