{% extends "JLMModelBundle::layout.html.twig" %}
{% form_theme form '@JLMModel/form/trustee.html.twig' %}
{% block content %}
<h1>Nouveau syndic</h1>
<form action="{{ path('trustee_create') }}" method="post" class="form-horizontal">
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="{{ path('trustee') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</form>
{% endblock %}

