<table class="table table-stripped">
    <thead>
        <tr>
        	<th></th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Téléphones</th>
            <th>e-mail</th>
            <th>Affaires</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in trustees %}
        <tr>
        	<td><a href="{{ path('trustee_show', { 'id': entity.id }) }}" class="btn btn-default">{{ 'eye-open'|icon }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.address|nl2br }}</td>
            <td><ul>
            	{% for phone in entity.phones %}
            	<li>{{ phone }}</li>
            	{% endfor %}
            </ul></td>
			<td>{% if entity.email %}<a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}</td>
            <td>{{ entity.sites | length }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>