{% extends "JLMModelBundle::layout.html.twig" %}
{% block content %}
<h1>{{ entity.name }}</h1>
<div class="row-fluid">
	<div class="span4">
		<address>
            {% include 'JLMModelBundle:Helpers:address.html.twig' with {'address':entity.address} %}
              {% for phone in entity.phones %}
            	<br>{{ phone }}
              {% endfor %}
			{% if entity.email %}<br>e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}
		</address>
	</div>
	<div class="span8">
		<address>
			<strong>Facturation</strong>
			<br>{% include 'JLMModelBundle:Helpers:address.html.twig' with {'address':entity.billingAddress} %}
			<br><strong>Compte n°{{ entity.accountNumber }}</strong>
			{% if entity.billingPhone %}<br>Tel : {% include 'JLMModelBundle:Helpers:phone.html.twig' with {'phone':entity.billingPhone} %}{% endif %}
			{% if entity.billingFax %}<br>Fax : {% include 'JLMModelBundle:Helpers:phone.html.twig' with {'phone':entity.billingFax} %}{% endif %}
			{% if entity.billingEmail %}<br>e-mail : <a href="mailto:{{ entity.billingEmail }}">{{ entity.billingEmail }}</a>{% endif %}
		</address>
	</div>
</div>
{% include 'JLMModelBundle:Site:list.html.twig' with {'sites': entity.sites } %}

<div class="form-actions">
	<a href="{{ path('trustee') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('site_new', { 'trustee': entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter une affaire</a>
</div>
{% endblock %}