{% extends "JLMModelBundle::layout.html.twig" %}
{% block content %}
<h1>{{ entity.name }}</h1>
<div class="row-fluid">
	<div class="span4">
		<address>
			{{ entity.address|nl2br }}
			{% if entity.phone %}<br>Tel : {{ entity.phone }}{% endif %}
			{% if entity.fax %}<br>Fax : {{ entity.fax }}{% endif %}
			{% if entity.email %}<br>e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}
		</address>
	</div>
	<div class="span8">
		<address>
			<strong>Facturation</strong>
			<br>{{ entity.billingAddress|nl2br }}
			<br><strong>Compte n°{{ entity.accountNumber }}</strong>
			{% if entity.billingPhone %}<br>Tel : {{ entity.billingPhone }}{% endif %}
			{% if entity.billingFax %}<br>Fax : {{ entity.billingFax }}{% endif %}
			{% if entity.billingEmail %}<br>e-mail : <a href="mailto:{{ entity.billingEmail }}">{{ entity.billingEmail }}</a>{% endif %}
		</address>
	</div>
</div>
{% include 'JLMModelBundle:Site:list.html.twig' with {'sites': entity.sites } %}

<div class="form-actions">
	<a href="{{ path('trustee') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('site_new_id', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter une affaire</a>
</div>
{% endblock %}