{% extends "JLMModelBundle::layout.html.twig" %}
{% form_theme form with 'JLMModelBundle:Form:product.html.twig' %}
{% block content %}
<h1>Nouveau produit</h1>
<form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
 <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="{{ path('product') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	   <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer les modifications</button>
	</div>
</fieldset>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmmodel/js/product.js") }}"></script>
<script>
$("body").product();
</script>
{% endblock %}