{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>Redevances du {{ entity.activation | date('d/m/Y') }}</h1>
<form action="{{ path('fees_update', { 'id': entity.id }) }}" method="post" class="form-horizontal">
    <fieldset>
    {{ form_widget(edit_form) }}
	<div class="form-actions">
	   <a href="{{ path('fees') }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer les modifications</button>
	</div>
</fieldset>
</form>
{% endblock %}

{# voir pour un petit js de correction virgule #}