<li><a href="{{ path('state_top') }}">Top dépannage</a></li>
<li><a href="{{ path('state_technicians') }}">Techniciens</a></li>
<li><a href="{{ path('state_maintenance') }}">Entretiens</a></li>
<li><a href="{{ path('state_contracts') }}">Contrats</a></li>
<li><a href="{{ path('state_quotes',{'year':2015}) }}">Devis envoyé / accordé</a></li>
<li><a href="{{ path('state_doortypes',{'year':2015}) }}">Nombre de contrats / type d'installation</a></li>
<li><a href="{{ path('state_transmitters') }}">Émetteurs</a></li>
<li><a href="{{ path('state_sells') }}">Ventes</a></li>
<li><a href="{{ path('state_lastbill') }}">Factures à 45 jours</a></li>
<li><a href="{{ path('state_daybill') }}">Montants factures par jour</a></li>