{% extends "::layout.html.twig" %}

{% block container %}
    <div class="row-fluid">
    
	    <div class="span2">
		    {% block sidebar %}
		        
		    <ul class="nav nav-list affix">
		    <li><form  action="{{ path('quote_search') }}" method="post" class="form-search">
					<input type="text" class="search-query input-medium" name="query" placeholder="Rechercher...">
			    </form></li>
			    <li class="nav-header">Tâches</li>
			    <li><a href="{{ path('task') }}"><i class="icon-list"></i> Liste des taches</a></li>
			    <li class="divider"></li>
			    <li class="nav-header">Devis</li>
		    	<li><a href="{{ path('quote') }}"><i class="icon-list"></i> Liste des devis</a></li>
		    	<li><a href="{{ path('askquote_new') }}"><i class="icon-plus-sign"></i> Nouvelle demande de devis</a></li>
		    	<li class="divider"></li>
				{% render "JLMOfficeBundle:Quote:last" with {'limit': 10} %}
				<li class="nav-header">Factures</li>
		    	<li><a href="{{ path('bill') }}"><i class="icon-list"></i> Liste des factures</a></li>
		    	<li><a href="{{ path('bill_new') }}"><i class="icon-plus-sign"></i> Nouvelle facture</a></li>
		    	<li class="divider"></li>
			</ul>
		    {% endblock sidebar %}
		    
	    </div>
	    <div class="span10">
            {% block content %}
            {% endblock content %}
	    </div>
    </div>
{% endblock container %}
