{% extends "JLMStateBundle::layout.html.twig" %}

{% block content %}
<h1>Types d'installation sous contrat</h1>
<table class="table">
	<thead>
		<tr>
			<th>Type de porte</th>
			<th>Nombre sous contrat</th>
			<th>Nombre d'interventions</th>
			<th>Moyenne d'intervention / install.</th>
			<th>Temps passé total</th>
			<th>Temps moyen passé / install.</th>
		</tr>
	</thead>
	<tbody>
		{% for name,data in datas %}
		<tr>
			<td>{{ name }}</td>
			<td>{{ data.nb }}</td>
			<td>{{ data.intervs }}</td>
			<td>{{ data.moyintervs|number_format(2, ',', ' ')}}</td>
			<td>{{ data.time}}</td>
			<td>{{ data.moytime}}</td>
		</tr>
		{% endfor %}
		<tr>
			<th>Total</th>
			<th>{{ tot }}</th>
			<th>{{ totinter }}</th>
			<th>{{ moytot|number_format(2, ',', ' ') }}</th>
			<th>{{ tottime|date('H:i') }}</th>
		</tr>
	</tbody>
</table>
{% endblock %}