{% block order_widget %}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Référence</th>
			<th>Designation</th>
			<th>Qté</th>
			<th class="span1"><a href="#" class="btn btn-success newline">{{ 'plus-sign'|icon(true) }}</a></th>
		</tr>
	</thead>
	{{ form_widget(form.lines) }}
</table>
{{ form_rest(form) }}
{% endblock %}

{% block order_line_row %}
<tr {{ block('widget_container_attributes') }}>
    <td>
        {{ form_widget(form.position) }}
        {{ form_widget(form.reference) }}
    </td>
    <td>{{ form_widget(form.designation) }}</td>
    <td>{{ form_widget(form.quantity) }}</td>
    <td><a href="#" class="btn btn-danger remove-line">{{ 'minus-sign'|icon(true) }}</a></td>
</tr>
{% endblock order_line_row %}