{% extends 'JLMFrontBundle::layout.html.twig' %}

{% block title %}Liste des affaires | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>{{ manager.name }}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
    {% for business in businesses %}
      <a href="{{ path('jlm_front_business_list',{'business':business.id}) }}" class="list-group-item{% if business.id == activeBusiness.id %} active{% endif %}">
        <span class="badge">?</span>
  	    {#}<h4 class="list-group-item-heading">Résidence les Marglats</h4>{#}
  	    <p class="list-group-item-text">{{ business.address|nl2br }}</p>
      </a>
      {% endfor %}
    </div>
    <div class="col-md-9">
    <div class="jumbotron">
      <h2>{{ activeBusiness.address|nl2br }}</h2>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {% if activeBusiness.doors is not empty %}
      {% for key, door in activeBusiness.doors if door.actualContract and door.actualContract.manager.id == manager.id %}
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                <strong>{{ door.code }}</strong> &middot; {{ door.type }} / {{ door.location }}
                <span class="pull-right label
	                {%- if door.stopped %} label-danger
	                {%- elseif door.waitFixing %} label-warning
	                {%- else %} label-success
	                {%- endif -%}
                ">
				  {%- if door.stopped -%}À l'arrêt
				  {%- elseif door.waitFixing -%}Dépannage en cours
				  {%- else -%}En fonction
				  {%- endif -%}
				</span>
              </a>
            </h4>
          </div>
          <div id="collapse{{ loop.index }}" class="panel-collapse collapse
          	{%- if loop.first %} in{%- endif -%}
          " role="tabpanel" aria-labelledby="heading{{ loop.index }}">
            <div class="panel-body">
      		  <div class="col-md-12">
      		    {% include 'JLMFrontBundle:Business:list_maintenance.html.twig' with {'maintenances':lastsMaintenance[key]} %}
      		 </div>
      		 <div class="col-md-12">
      		    {% include 'JLMFrontBundle:Business:list_fixing.html.twig' with {'fixings':lastsFixing[key]} %}
      		 </div>
      		 {# Liste des devis #}
      		 <div class="col-md-12">
      		    {% include 'JLMFrontBundle:Business:list_quote.html.twig' with {'quotes':quotes[key]} %}
      		 </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}     
      </div>
    </div>
  </div>
</div>
{% endblock container %}