{% extends "JLMOfficeBundle:Quote:layout.html.twig" %}

{% form_theme edit_form with 'JLMOfficeBundle:Form:quote.html.twig' %}

{%- block title -%}n°{{ entity.number }} (edition) | {{ parent() }}{%- endblock title -%}

{% block content %}
<div class="page-header">
  <h1>Devis <small>{{ entity.number }}</small></h1>
</div>
{{ form(edit_form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmoffice/js/quote.js") }}"></script>
<script>
$("body").quote({
	 autoSource:'{{ path('autocomplete') }}'
});
</script>
{% endblock %}