{% extends "JLMOfficeBundle::layout.html.twig" %}
{% form_theme form 'JLMOfficeBundle:Form:field_row.html.twig' %}
{% block content %}
<h1>Devis <small>1210194</small></h1>
<div class="alert"><strong>Attention !</strong> blablablabla</div>
<form action="{{ path('contract_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
    <div class="row_fluid">
    	<div class="span6 well">
    	{{ form_row(form.follower) }}
    	{{ form_row(form.followerCp) }}
    	{{ form_row(form.door) }}
    	{{ form_row(form.doorCp) }}
    	</div>
    	<div class="span6">
    	{{ form_row(form.creation) }}
    	{{ form_row(form.trustee) }}
    	{{ form_row(form.trusteeName) }}
    	{{ form_row(form.trusteeAddress) }}
    	</div>
    </div>
    <div class="row_fluid">
    {{ form_widget(form.intro) }}
    </div>
    <table class="table table-bordered">
    <thead>
    <tr>
    <th>Référence</th>
    <th>Designation</th>
    <th>Qté</th>
    <th>PU HT</th>
    <th>Remise</th>
    <th>TVA</th>
    <th>PT HT</th>
    <th><a href="#" class="btn btn-success"><i class="icon-plus-sign icon-white"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><input type="text" class="input-small"></td>
    <td><div class="input-append"><input type="text" class="input-large"><a class="add-on show-description" href="#"><i class="icon-minus-sign"></i></a></div>
    <textarea class="input-large" placeholder="Description"></textarea>
    </td>
    <td><input type="text" class="input-mini" value="1"></td>
    <td><div class="input-append"><input type="text" class="input-mini"><span class="add-on">€</span></div></td>
    <td><div class="input-append"><input type="text" class="input-mini"><span class="add-on">%</span></div></td>
    <td><div class="input-append"><input type="text" class="input-mini"><span class="add-on">%</span></div></td>
    <td><div class="input-append"><input type="text" class="input-mini"><span class="add-on">€</span></div></td>
    <td><a href="#" class="btn btn-danger"><i class="icon-minus-sign icon-white"></i></a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ form_widget(form.discount) }}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
    </tfoot>
    </table>
    {{ form_widget(form) }}
	<div class="form-actions">
	 
	   <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer les modifications</button>
	</div>
</fieldset>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$("show-description").click(function(){$(this).children("i").toggleClass("icon-plus-sign",true).toggleClass("icon-minus-sign",false)}
</script>
{% endblock %}