{% extends "JLMOfficeBundle:Quote:layout.html.twig" %}
{%- block title -%}n°{{ entity.number }} | {{ parent() }}{%- endblock title -%}
{% block content %}
<div class="page-header">
<div class="pull-right">
  {% if entity.ask %}
	<a href="{{ path('askquote_show',{'id':entity.ask.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Voir la demande</a>
  {% endif %}
<a href="{{ path('quote_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Editer</a>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-print"></span> Imprimer <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ path('quote_jacket',{ 'id' : entity.id }) }}">Chemise</a></li>
    {% if entity.variants|length > 0 -%}	
      <li><a href="{{ path('quote_print',{ 'id' : entity.id }) }}">Tout les devis</a></li>
      <li class="divider"></li>
        {% for variant in entity.variants %}
          <li><a href="{{ path('variant_print', { 'id': variant.id }) }}">{{ variant.number }}</a></li>
        {% endfor %}
    {%- endif %}
  </ul>
</div>
{% if entity.state > 0 %}
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-envelope"></span> e-mail <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ path('quote_mail',{ 'id' : entity.id }) }}">Tout</a>
    <li class="divider"></li>
    {% for variant in entity.variants %}
      <li><a href="{{ path('variant_mail', { 'id': variant.id }) }}">{{ variant.number }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
  </div>
  <h1>Devis <small>{{ entity.number }}</small></h1>
  
</div>
{# include 'JLMOfficeBundle:Quote:stateheader.html.twig' with {'state': entity.state} #}
{% include 'JLMOfficeBundle:Quote:showheader.html.twig' with {'quote': entity} %}

<div class="pull-right"><a href="{{ path('variant_new',{ 'id' : entity.id }) }}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une variante</a></div>
<ul id="variants" class="nav nav-tabs">
	{% for variant in entity.variants %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#variant-{{ variant.number }}" data-toggle="tab">{{ variant.number }}
		{% include 'JLMOfficeBundle:Quote:statelabel.html.twig' with {'state': variant.state} %}
         </a>
    </li>
    {% endfor %}
</ul>
{%  if entity.variants | length %}
<div id="variantsContent" class="tab-content">
{% for variant in entity.variants %}
    <div class="tab-pane fade in{% if loop.first %} active{% endif %}" id="variant-{{ variant.number }}">
		{% include 'JLMOfficeBundle:Variant:show.html.twig' with {'variant': variant} %}
	</div>
{% endfor %}
</div>
{% else %}
<p>Pas encore de devis</p>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmoffice/js/quote.js") }}"></script>
<script>
$("body").quotevariant();
</script>
{% endblock %}