{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>Devis</h1>
{% if entity.valid %}
	{% if entity.send%}
		{% if entity.given %}
		<div class="alert alert-success">
		<h4>Devis accordé</h4>
		</div>
		{% else %}
		<div class="alert alert-info">
		<h4>Devis envoyé</h4>
		</div>
		{% endif %}
	{% else %}
	<div class="alert">
	<h4>En attente d'envoi</h4>
	</div>
	{% endif %}
{% else %}
<div class="alert">
<h4>En saisie</h4>
</div>
{% endif %}

<div class="row-fluid">
    <div class="span5">
        <strong>Suivi par {{ entity.followerCp }}</strong>
        <br>{{ entity.doorCp | nl2br }}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Devis n°</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.creation|date('d/m/Y') }}</td>
                    <td>{{ entity.number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span5 offset2 well">
        {{ entity.trusteeName }}
        <br>{{ entity.trusteeAddress | nl2br  }}
        <br>
        <br>à l'attention de {{ entity.contactCp }}
    </div>
</div>

<ul id="variants" class="nav nav-tabs">
	{% for variant in entity.variants %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#variant-{{ variant.number }}" data-toggle="tab">{{ variant.number }}</a>
    </li>
    {% endfor %}
</ul>
{%  if entity.variants | length %}
<div id="variantsContent" class="tab-content">
{% for variant in entity.variants %}
    <div class="tab-pane fade{% if loop.first %} active in{% endif %}" id="variant-{{ variant.number }}">
    
    </div>
{% endfor %}
</div>
{% else %}
<p>Pas encore de devis</p>
{% endif %}
<a href="{{ path('variant_new',{ 'id' : entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter une variante</a>
<div class="form-actions">
	<a href="{{ path('quote') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	{% if entity.valid %}
		{% if entity.send%}
			{% if entity.given == false %}
				<a href="{{ path('quote_given', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-thumbs-up icon-white"></i> Accorder</a>
			{% endif %}
		{% endif %}
		{% if entity.given == false %}
			<a href="{{ path('quote_unvalid', { 'id': entity.id }) }}" class="btn btn-inverse"><i class="icon-remove icon-white"></i> Invalider</a>
		{% endif %}
	<a href="{{ path('quote_mail', { 'id': entity.id }) }}" class="btn btn-info"><i class="icon-envelope icon-white"></i> Envoyer par e-mail</a>
	<a href="{{ path('quote_pdf', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-print icon-white"></i> Imprimer</a>
		
	{% else %}
	<a href="{{ path('quote_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('quote_valid', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-ok icon-white"></i> Valider</a>
	{% endif %}
	</div>
{% endblock %}