<div class="row-fluid">
    <div class="span5">
    	<strong>Créé le {{ quote.creation|date('d/m/Y') }}
    	<br>par {{ quote.followerCp }}</strong>
        <br><br>{{ quote.doorCp | nl2br }}

    </div>
    <div class="span5 offset2 well">
    	<strong>Facturation</strong>
        <br>{{ quote.trusteeName }}
        <br>{{ quote.trusteeAddress | nl2br  }}
        <br>
        <br>à l'attention de {{ quote.contactCp }}
    </div>
</div>