{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>Devis <small>{{ entity.number }}</small></h1>
<div class="alert{% if entity.state == 0 %}">
<h4>En saisie</h4>
{% elseif entity.state == 1 %}">
<h4>Prêt à être envoyé</h4>
{% elseif entity.state == 2 %}">
<h4>Imprimé (prêt à faxer)</h4>
{% elseif entity.state == 3 %} alert-info">
<h4>Envoyé (en attente de l'accusé)</h4>
{% elseif entity.state == 4 %} alert-info">
<h4>Envoyé</h4>
{% elseif entity.state == 5 %} alert-success">
<h4>Accordé</h4>
{% else %} alert-error">
<h4>Annulé</h4>
{% endif %}
</div>
<div class="row-fluid">
    <div class="span5">
    	<strong>Créé le {{ entity.creation|date('d/m/Y') }}
    	<br>par {{ entity.followerCp }}</strong>
        <br><br>{{ entity.doorCp | nl2br }}

    </div>
    <div class="span5 offset2 well">
    	<strong>Facturation</strong>
        <br>{{ entity.trusteeName }}
        <br>{{ entity.trusteeAddress | nl2br  }}
        <br>
        <br>à l'attention de {{ entity.contactCp }}
    </div>
</div>

<div class="form-actions">
	<a href="{{ path('quote') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	{% if entity.state == 0 %}
	<a href="{{ path('quote_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	{% endif %}
	<a href="{{ path('variant_new',{ 'id' : entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter une variante</a>
	</div>


<ul id="variants" class="nav nav-tabs">
	{% for variant in entity.variants %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#variant-{{ variant.number }}" data-toggle="tab">{{ variant.number }}
		{% include 'JLMOfficeBundle:Quote:statelabel.html.twig' with {'state': variant.state} %}
         </a>
    </li>
    {% endfor %}
</ul>
{%  if entity.variants | length %}
<div id="variantsContent" class="tab-content">
{% for variant in entity.variants %}
	{% include 'JLMOfficeBundle:Variant:show.html.twig' with {'variant': variant} %}
{% endfor %}
</div>
{% else %}
<p>Pas encore de devis</p>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmoffice/js/quote.js") }}"></script>
<script>
$("body").quotevariant();
</script>
{% endblock %}