{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>{{ entity.name }}</h1>
<div class="row-fluid">
	<div class="span4">
		<address>
			{{ entity.address|nl2br }}
			{% if entity.phone %}<br>Tel : {{ entity.phone }}{% endif %}
			{% if entity.fax %}<br>Fax : {{ entity.fax }}{% endif %}
			{% if entity.email %}<br>e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}
		</address>
	</div>
	<div class="span8">
		<address>
			<strong>Facturation</strong>
			<br>{{ entity.billingAddress|nl2br }}
			<br><strong>Compte n°{{ entity.accountNumber }}</strong>
			{% if entity.billingPhone %}<br>Tel : {{ entity.billingPhone }}{% endif %}
			{% if entity.billingFax %}<br>Fax : {{ entity.billingFax }}{% endif %}
			{% if entity.billingEmail %}<br>e-mail : <a href="mailto:{{ entity.billingEmail }}">{{ entity.billingEmail }}</a>{% endif %}
		</address>
	</div>
</div>
{% if entity.sites | length %}
<h2>Affaires</h2>
<table class="table table-stripped">
<thead>
<tr>
<th>Nb portes</th>
<th>Adresse</th>
<th>Code postal</th>
<th>Ville</th>
<th>TVA</th>
</tr>
</thead>
<tbody>
{% for site in entity.sites %}
<tr>
<td>{{ site.doors|length }}</td>
<td><a href="{{ path('site_show',{'id':site.id}) }}">{{ site.address.street }}</a></td>
<td>{{ site.address.city.zip }}</td>
<td>{{ site.address.city.name }}</td>
<td>{{ site.vat }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h2><small>Aucune affaire</small></h2>
{% endif %}

<div class="form-actions">
	<a href="{{ path('trustee') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('site_new_id', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter un site</a>
</div>
{% endblock %}