{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>{{ entity.name }}</h1>
<div class="row-fluid">
	<div class="span4">
		<address>
			{{ entity.address.street }}<br>
			{{ entity.address.city.zip }} - {{ entity.address.city.name }}<br>
			{% if entity.phone %}Tel : {{ entity.phone }}<br>{% endif %}
			{% if entity.fax %}Fax : {{ entity.fax }}<br>{% endif %}
			{% if entity.email %}e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a><br>{% endif %}
		</address>
	</div>
	<div class="span4">
	{% if entity.billingAddress %}
		<address>
			<strong>Facturation</strong>
			{{ entity.billingAddress.street }}<br>
			{{ entity.billingAddress.city.zip }} - {{ entity.billingAddress.city.name }}<br>
			Tel : {{ entity.billingPhone }}<br>
			Fax : {{ entity.billingFax }}<br>
			e-mail : <a href="mailto:{{ entity.billingEmail }}">{{ entity.billingEmail }}</a><br>
		</address>
	{% endif %}
	</div>
	<div class="span4">
		<dl>
			<dt>Compte</dt>
			<dd>N°{{ entity.accountNumber }}</dd>
		</dl>
	</div>
</div>
<h2>Affaires</h2>
{% if entity.sites %}
<table class="table table-stripped">
<thead>
<tr>
<th>Nb portes</th>
<th>Adresse</th>
<th>Code postal</th>
<th>Ville</th>
<th>TVA</th>
</tr>
</thead>
<tbody>
{% for site in entity.sites %}
<tr>
<td>{{ site.doors|length }}</td>
<td><a href="{{ path('site_show',{'id':site.id}) }}">{{ site.address.street }}</a></td>
<td>{{ site.address.city.zip }}</td>
<td>{{ site.address.city.name }}</td>
<td>{{ site.vat }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>Aucun site</p>
{% endif %}

<div class="form-actions">
	<a href="{{ path('trustee') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('site_new_id', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter un site</a>
</div>
{% endblock %}