{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>{{ entity.name }}</h1>

<table class="table">
    <tbody>
    <tr>
    <th>Numéro de compte</th>
    <td>{{ entity.accountNumber }}</td>
    </tr>
        <tr>
            <th>Accession / Social</th>
            <td>{{ entity.accession ? 'Accession' : 'Social' }}</td>
        </tr>
    </tbody>
</table>

<div class="form-actions">
	<a href="{{ path('trustee') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
</div>
{% endblock %}