{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>{{ entity.name }}</h1>
<div class="row-fluid">
	<div class="span6">
		<address>
			{{ entity.address.street }}<br>
			{{ entity.address.city.zip }} - {{ entity.address.city.name }}<br>
			Tel : {{ entity.phone }}<br>
			Fax : {{ entity.fax }}<br>
			e-mail : <a href="mailto:{{ entity.email }}">{{ entity.email }}</a><br>
		</address>
	</div>
	<div class="span6">
	{% if entity.billingAddress.city %}
		<address>
			<strong>Facturation</strong>
			{{ entity.billingAddress.street }}<br>
			{{ entity.billingAddress.city.zip }} - {{ entity.billingAddress.city.name }}<br>
			Tel : {{ entity.billingPhone }}<br>
			Fax : {{ entity.billingFax }}<br>
			e-mail : <a href="mailto:{{ entity.billingEmail }}">{{ entity.billingEmail }}</a><br>
		</address>
	{% endif %}
	</div>
</div>

<table class="table">
    <tbody>
    <tr>
    <th>Numéro de compte</th>
    <td>{{ entity.accountNumber }}</td>
    </tr>
    <tr>
        <th>Accession / Social</th>
        <td>{{ entity.accession ? 'Accession' : 'Social' }}</td>
    </tr>
    </tbody>
</table>
<h2>Contrats</h2>
{% if entity.contracts.empty %}
<p>Aucun contrat</p>
{% else %}
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Type</th>
      <th>Type de porte</th>
      <th>Adresse de la porte</th>
      <th>Début de contrat</th>
      <th>Etat</th>
    </tr>
  </thead>
  <tbody>
  {% for contract in entity.contracts %}
    <tr>
      <td><a href="{{ path('contract_show', { 'id': contract.id }) }}">{{ contract.number }}</a></td>
      <td>{{ contract.type }}</td>
      <td>{{ contract.door.address.street }} - {{ contract.door.address.city }}</td>
      <td>{{ contract.door.type }}</td>
      <td>{{ contract.begin|date('d/m/Y') }}</td>
      <td>{{ contract.state }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
<div class="form-actions">
	<a href="{{ path('trustee') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('trustee_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('contract_new', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter un contrat</a>
</div>
{% endblock %}