<table class="table table-striped">
	<thead>
		<tr>
			<th>N°</th>
			<th>Affaire</th>
			<th>Installation</th>
			<th>Etat</th>
			<th>Ctr</th>
			<th>Syndic</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for door in doors %}
		<tr>
			<td><span class="label label-inverse">{{ door.id }}</span></td>
			<td><a href="{{ path('daily_door_show',{'id': door.id}) }}"><strong>{{ door.site.address.city.name | upper }}</strong> <small>{{ door.site.address.city.zip }}</small><br>{{ door.street | nl2br }}</a></td>
			<td>{{ door.type }}<br>{{ door.location }}</td>
			<td>
				{% if door.stopped %}<span class="label label-important">Mise à l'arrêt</span><br>{% endif %}
				{% if door.fixingInProgress %}<span class="label label-warning">Dépannage en cours</span><br>
				{% elseif door.waitFixing %}<span class="label label-warning">En attente dépannage</span><br>{% endif %}
				{% if door.workInProgress %}<span class="label label-info">Travaux en cours</span><br>
				{% elseif door.waitWork %}<span class="label label-info">En attente travaux</span><br>{% endif %}
				{% if door.waitMaintenance %}<span class="label">Entretien à faire</span><br>{% endif %}
			</td>
			<td>{% if door.actualContract is null %}HC{% else %}{{ door.actualContract }}{% endif %}</td>
			<td>{{ door.site.trustee }}</td>
			<td><a href="#modalNewFixing{{ door.id }}" class="btn btn-warning" role="button" data-toggle="modal"><i class="icon-wrench icon-white"></i></a>
{{ render(controller('JLMDailyBundle:Fixing:new',{'id':door.id})) }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>