<table class="table table-striped">
	<thead>
		<tr>
			<th>N°</th>
			<th>Affaire</th>
			<th>Installation</th>
			<th>Etat</th>
			<th>Syndic</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for door in doors %}
		<tr>
			<td><span class="label label-inverse">{{ door.code }}</span></td>
			<td>
				{% if door.blocked %}<span class="label label-important">Facture en retard</span><br>{% endif %}
				<a href="{{ path('daily_door_show',{'id': door.id}) }}">
					<strong>{{ door.site.address.city.name | upper }}</strong> <small>{{ door.site.address.city.zip }}</small><br>
					{{ door.site.address.street | nl2br }}
				</a>
			</td>
			<td><span class="label label-inverse">{% if door.actualContract is null %}HC{% else %}{{ door.actualContract }}{% endif %}</span><br>
			<strong>{{ door.type }} - {{ door.location }}</strong><br>
			{{ door.street | nl2br }}
			</td>
			<td>
				{% if door.stopped %}<span class="label label-important">Mise à l'arrêt</span><br>{% endif %}
				{% if door.fixingInProgress %}<span class="label label-warning">Dépannage en cours</span><br>
				{% elseif door.waitFixing %}<span class="label label-warning">En attente dépannage</span><br>{% endif %}
				{% if door.workInProgress %}<span class="label label-info">Travaux en cours</span><br>
				{% elseif door.waitWork %}<span class="label label-info">En attente travaux</span><br>{% endif %}
				{% if door.waitMaintenance %}<span class="label">{% if door.numberWaitMaintenance == 1 %}1er{% else %}2ème{% endif %} entretien à faire</span><br>{% endif %}
			</td>
			<td><small>{{ door.site.trustee }}</small></td>
			<td><a href="{{ path('fixing_new', {'id':door.id }) }}" class="btn btn-warning fixing-new" role="button" data-toggle="modal"><i class="icon-wrench icon-white"></i> Dépannage</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

