<table class="table table-striped">
	<thead>
		<tr>
			<th>Affaire</th>
			<th>Installation</th>
			<th>Etat</th>
			<th>Syndic</th>
		</tr>
	</thead>
	<tbody>
		{% for door in doors %}
		<tr>
			<td><a href="{{ path('daily_door_show',{'id': door.id}) }}"><strong>{{ door.site.address.city.name | upper }}</strong> <small>{{ door.site.address.city.zip }}</small><br>{{ door.street | nl2br }}</a></td>
			<td>{{ door.type }}<br>{{ door.location }}</td>
			<td>
				{% if door.stopped %}<span class="label label-important">Mise à l'arrêt</span><br>{% endif %}
				{% if door.fixingInProgress %}<span class="label label-warning">Dépannage en cours</span><br>
				{% elseif door.waitWork %}<span class="label label-warning">En attente dépannage</span><br>{% endif %}
				{% if door.workInProgress %}<span class="label label-info">Travaux en cours</span><br>
				{% elseif door.waitWork %}<span class="label label-info">En attente travaux</span><br>{% endif %}
				{% if door.waitMaintenance %}<span class="label">Entretien à faire</span><br>{% endif %}
			</td>
			<td>{{ door.site.trustee }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>