{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Rapport installation</h1>
{% if entity.stopped %}
<div class="alert alert-danger">
	<h4>Porte à l'arrêt</h4>
</div>
{% endif %}
<ul>
<li>Dernier entretien : {% if entity.lastMaintenance is null %}Aucun{% else %}{{ entity.lastMaintenance | date('d/m/Y') }}{% endif %}</li>
<li>Contrat : {{ entity.actualContract }}</li>
</ul>
{% if entity.width and entity.height %}{{ entity.width }}x{{ entity.height }}mm</small>{% endif %}</h1>
<div class="row-fluid">
	<div class="span6">
		<h2><small>{{ entity.type }}</small></h2>
		<h4>{{ entity|nl2br}}</h4>
		<strong>Accès :</strong>
		<br>{{ entity.street|nl2br }}
	</div>
	
	{% if entity.googlemaps%}
	<div class="span6 well">
		<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ entity.mapsUrl }}"></iframe>
	</div>
	{% else %}
	<div class="span6 well">Pas de photo</div>
	{% endif %}
</div>

<div class="form-actions">
<a href="#modalNewFixing" class="btn btn-warning" role="button" data-toggle="modal"><i class="icon-wrench icon-white"></i> Dépannage</a>
{% render 'JLMDailyBundle:Fixing:new' with {'id':entity.id} %}
	<a href="{{ path('work_new_door',{'id': entity.id}) }}" class="btn btn-primary"><i class="icon-wrench icon-white"></i> Travaux</a>
	{% if false %}<a href="{{ path('maintenance_generate', { 'id':entity.id } ) }}" class="btn"><i class="icon-wrench"></i> Entretien</a>{% endif %}
	{% if entity.stopped %}<a href="{{ path('daily_door_unstop',{'id': entity.id}) }}" class="btn btn-success"><i class="icon-ok icon-white"></i> Mettre en service</a>
	{% else %}<a href="{{ path('daily_door_stop',{'id': entity.id}) }}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Mettre à l'arrêt</a>{% endif %}
</div>
{% if entity.interventions | length %}
<a href="{{ path('intervention_printdoor',{'id':entity.id}) }}" class="btn btn-info"><i class="icon-print icon-white"></i> Imprimer les rapports d'intervention</a>
<table class="table table-striped">
	<thead>
		<tr>
		<th>Date</th>
		<th>Raison</th>
		<th>Rapport</th>
		<th>Actions</th>
		<th>Techniciens</th>
	</thead>
	<tbody>
		{% for interv in entity.interventions %}
		<tr{% if interv.state %} class="{% if interv.state == 1 %}warning{% elseif interv.state == 2 %}info{% elseif interv.state == 3 %}success{% else %}error{% endif %}"{% endif %}>
			<td>
			{% include "JLMDailyBundle:Intervention:labeltype.html.twig" with {'type' : interv.type} %}<br>
				<small>
		{% if interv.firstDate %}
			{% if interv.lastDate != interv.firstDate %}du {{ interv.firstDate | localizeddate('full', 'none') }}
			                                        <br>au {{ interv.lastDate | localizeddate('full', 'none') }}
			{% else %}{{ interv.firstDate | localizeddate('full', 'none') }}
			{% endif %}
		{% else %}
			{{ interv.creation | localizeddate('full', 'none') }}
			{% endif %}
				</small></td>
			<td><a href="{{ path('intervention_redirect',{'id':interv.id,'act':'show'}) }}">
			{% if interv.type == 'work' %}
	 	{% if interv.quote %}Selon devis n°{{ interv.quote.number }}<br>{% endif %}{% endif %}
			{{ interv.reason |nl2br }}</a></td>
			<td>{{ interv.report |nl2br }}</td>
			<td>
				{% if interv.officeAction %}{{ interv.officeAction.type }}<br>{% endif %}
				{% if interv.otherAction %}{{ interv.otherAction.type }}{% endif %}
			</td>
			<td>
				<ul>
				{% if interv.shiftTechnicians|length %}
					{% if interv.shiftTechnicians|length < 4%}
						{% for shift in interv.shiftTechnicians %}
						<a href="#modalEditTech{{ shift.id }}" data-toggle="modal"><small>{{ shift.begin | date('d/m')}} <strong>{{ shift.technician }}</strong>{% if shift.end %} {{ shift.time.format('%hh%I') }}{% endif %}</small></a><br>
						{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
						{% endfor %}
					{% else %}
					<div class="btn-group">
					    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
					    	{{ interv.shiftTechnicians|length }} déplacements
					    	<span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
					    {% for shift in interv.shiftTechnicians %}
								<li><a href="#modalEditTech{{ shift.id }}" data-toggle="modal"><small>{{ shift.begin | date('d/m')}} <strong>{{ shift.technician }}</strong>{% if shift.end %} {{ shift.time.format('%hh%I') }}{% endif %}</small></a></li>
						{% endfor %}
					    </ul>
					    {% for shift in interv.shiftTechnicians %}
					    	{% render 'JLMDailyBundle:Shifting:edit' with {'id':shift.id} %}
					    {% endfor %}
					 </div>
					{% endif %}
				{% else %}
				
				{% endif %}
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h4>Pas d'intervention</h4>
{% endif %}
{% endblock %}