{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Rapport installation</h1>
{% if entity.stopped %}
<div class="alert alert-danger">
	<h4>Porte à l'arrêt</h4>
</div>
{% endif %}
<ul>
<li>Dernier entretien : {% if entity.lastMaintenance is null %}Aucun{% else %}{{ entity.lastMaintenance | date('d/m/Y') }}{% endif %}</li>
<li>Contrat : {{ entity.actualContract }}</li>
</ul>
{% if entity.width and entity.height %}{{ entity.width }}x{{ entity.height }}mm</small>{% endif %}</h1>
<div class="row-fluid">
	<div class="span6">
		<h2><small>{{ entity.type }}</small></h2>
		<h4>{{ entity|nl2br}}</h4>
		<strong>Accès :</strong>
		<br>{{ entity.street|nl2br }}
	</div>
	
	{% if entity.googlemaps%}
	<div class="span6 well">
		<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ entity.mapsUrl }}"></iframe>
	</div>
	{% else %}
	<div class="span6 well">Pas de photo</div>
	{% endif %}
</div>

<div class="form-actions">
	<a href="{{ path('fixing_new',{'id': entity.id}) }}" class="btn btn-warning"><i class="icon-wrench icon-white"></i> Dépannage</a>
	<a href="{{ path('work_new_door',{'id': entity.id}) }}" class="btn btn-primary"><i class="icon-wrench icon-white"></i> Travaux</a>
	{% if false %}<a href="{{ path('maintenance_generate', { 'id':entity.id } ) }}" class="btn"><i class="icon-wrench"></i> Entretien</a>{% endif %}
	{% if entity.stopped %}<a href="{{ path('daily_door_unstop',{'id': entity.id}) }}" class="btn btn-success"><i class="icon-ok icon-white"></i> Mettre en service</a>
	{% else %}<a href="{{ path('daily_door_stop',{'id': entity.id}) }}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Mettre à l'arrêt</a>{% endif %}
</div>
{% if entity.interventions | length %}
<table class="table table-striped">
	<thead>
		<tr>
		<th>Dates</th>
		<th>Raison</th>
		<th>Rapport</th>
		<th>Techniciens</th>
	</thead>
	<tbody>
		{% for interv in entity.interventions %}
		<tr{% if interv.close %} class="{% if interv.officeAction and ((interv.otherAction and interv.rest) or not interv.rest) %}success{% else %}info{% endif %}"{% endif %}>
			<td><small>{{ interv.creation| localizeddate('full', 'none') }}</small><br>{% include "JLMDailyBundle:Intervention:labeltype.html.twig" with {'type' : interv.type} %} {{ interv.creation|date('H:i') }}</td>
			<td><a href="{{ path('intervention_redirect',{'id':interv.id,'act':'show'}) }}">{{ interv.reason |nl2br }}</a></td>
			<td>{{ interv.report |nl2br }}</td>
			<td>
				{% if interv.officeAction %}{{ interv.officeAction.type }}<br>{% endif %}
				{% if interv.otherAction %}{{ interv.otherAction.type }}{% endif %}
			</td>
			<td>
				<ul>
					{% for shift in interv.shiftTechnicians %}
					<li>{{ shift.technician }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h4>Pas d'intervention</h4>
{% endif %}
{% endblock %}