<form action="{{ path('fixing_create', {'id':door.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal modal hide fade" id="modalNewFixing{{ door.id }}" tabindex="-1" role="dialog" aria-labelledby="modalNewFixing{{ door.id }}Label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalNewFixing{{ door.id }}Label">Nouvelle panne</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Valider</button>
	</div>
</form>
