{# JLMDailyBundle:Fixing:show.html.twig #}
{% extends "JLMDailyBundle:Intervention:show.html.twig" %}

{% block officeaction %}
	{% if entity.due.id == 1 or entity.due.id == 2%}
		{% if entity.done.id == 1 or entity.done.id == 2 %}
			{% if not entity.completeContract %}
				{% set preferbill = 1 %}
			{% endif %}
		{% endif %}
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block reference %}
{% if entity.askMethod %}{{ entity.askMethod }} : {% endif %}
{% if entity.askDate %}le {{ entity.askDate|date('d/m/Y') }}{% endif %}
{% endblock %}

{% block report %}
	 <small>{{ entity.due }} - {{ entity.done }}</small>
	 <h5>Constat</h5>
	 {{ entity.observation | nl2br }}
	 <h5>Action menée</h5>
	 {{ parent() }}
{% endblock %}

{% block edit_button %}
<a href="{{ path('fixing_edit', { 'id': entity.id }) }}" class="btn btn-small btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
{% endblock %}

{% block close_button %}
	<a href="#modalClose{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-small btn-primary"><i class="icon-ok icon-white"></i> {% if not entity.closed %}Cloturer{% else %}Editer{% endif %}</a>
	{{ render(controller('JLMDailyBundle:Fixing:close',{'id':entity.id})) }}
{% endblock %}