{# JLMDailyBundle:Fixing:show.html.twig #}
{% extends "JLMDailyBundle:Intervention:show.html.twig" %}

{% block officeaction %}
	{% if entity.due.id == 1 or entity.due.id == 2%}
		{% if entity.done.id == 1 or entity.done.id == 2 %}
			{% if not entity.completeContract %}
				{% set preferbill = 1 %}
			{% endif %}
		{% endif %}
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block report %}
	 <small>{{ entity.due }} - {{ entity.done }}</small>
	 {{ parent() }}
{% endblock %}

{% block edit_button %}
<a href="{{ path('fixing_edit', { 'id': entity.id }) }}" class="btn btn-small btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
{% endblock %}

{% block close_button %}
	<a href="#modalClose{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-small btn-primary"><i class="icon-ok icon-white"></i> {% if not entity.closed %}Cloturer{% else %}Editer{% endif %}</a>
	{% render 'JLMDailyBundle:Fixing:close' with {'id':entity.id} %}
{% endblock %}