{# JLMDailyBundle:Fixing:show.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Dépannage</h1>
{% include "JLMDailyBundle:Intervention:show.html.twig" with {'entity' : entity} %}

{% if entity.closed %}
	 <h4>Rapport</h4>
	 <table class="table">
	 <tbody>
	 <tr><th>Cause</th><td>{{ entity.due }}</td></tr>
	 <tr><th>Action menée</th><td>{{ entity.done }}</td></tr>
	 <tr><th>Rapport</th><td>{{ entity.report | nl2br }}</td></tr>
	 {% if entity.rest %}<tr><th>Reste à faire</th><td>{{ entity.rest  | nl2br}}<br>{% include "JLMDailyBundle:Fixing:otheraction.html.twig" with {'entity' : entity} %}</td></tr>{% endif %}
	 <tr><th>Action bureau</th><td>
	{% if entity.officeAction %}{{ entity.officeAction.type }}
	{% else %}{% include "JLMDailyBundle:Fixing:officeaction.html.twig" with {'entity' : entity} %}
	{% endif %}
	 </td></tr>
	 </tbody>
	 </table>
{% endif %}

<div class="form-actions">
    <a href="{{ path('fixing_list') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
    {% if not entity.closed %}
    <a href="{{ path('fixing_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
    <a href="{{ path('fixing_close',{'id':entity.id}) }}" class="btn btn-primary"><i class="icon-ok icon-white"></i> Cloturer</a>
    {% endif %}
</div>
{% endblock %}