{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Fiche Intervention</h1>
<div class="alert{% if entity.priority < 3 %} alert-error{% elseif entity.priority > 4 %} alert-info{% endif %}"><h4>
{% if entity.priority == 1 %}TRES URGENT
{% elseif entity.priority == 2 %}Urgent
{% elseif entity.priority == 3 %}Haute
{% elseif entity.priority == 4 %}Normal
{% elseif entity.priority == 5 %}Basse
{% else %}Très basse
{% endif %}</h4>
</div>

<div class="row-fluid">
	<div class="span6">
	 <table class="table">
	 <tbody>
	 <tr><th>Créée le</th><td>{{ entity.creation|date('d/m/Y H:i') }}</td></tr>
	 <tr><th>Type</th><td>Dépannage</td></tr>
	 <tr><th>Raison</th><td>{{ entity.reason | nl2br }}</td></tr>
	 </tbody>
	 </table>
	 {% if false %}
	 <h4>Rapport</h4>
	 <table class="table">
	 <tbody>
	 <tr><th>Nature</th><td>Usure</td></tr>
	 <tr class="error"><th>Action menée</th><td>Mise à l'arrêt</td></tr>
	 <tr><th>Rapport</th><td>Rigel 4 à remplacer</td></tr>
	 <tr><th>Action bureau</th><td>Devis à faire</td></tr>
	 </tbody>
	 </table>
	 {% endif %}
	</div>
	<div class="span6 well">
		<h4>{{ entity.place | nl2br }}</h4>
		{{ entity.contactName }}
		<br>{{ entity.contactPhones | nl2br }}
		<br><a href="mailto:{{ entity.contactEmail}}">{{ entity.contactEmail}}</a>
	</div>
</div>
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Technicien</th>
			<th>Début</th>
			<th>Fin</th>
			<th>Retour</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10/12/2012 15:31</td>
			<td>Cyrille</td>
			<td>16:00</td>
			<td>17:23</td>
			<td></td>
		</tr>
	</tbody>
</table>

<div class="form-actions">
    <a href="{{ path('fixing_list') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
    <a href="{{ path('fixing_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('fixing_show', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-calendar icon-white"></i> Programmer un technicien</a> 
</div>
{% endblock %}