{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>Nouvelle porte</h1>
{% form_theme form 'JLMOfficeBundle:Form:field_row.html.twig' %}
<form action="{{ path('door_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
<fieldset>
{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('door') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	   <button type="submit" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Créer</button>
	</div>
</fieldset>
{% endblock %}
