{% extends "JLMModelBundle::layout.html.twig" %}
{% form_theme form '@JLMModel/form/door.html.twig' %}
{% block content %}
<h1>Nouvelle porte</h1>
<form action="{{ path('door_create') }}" method="post" class="form-horizontal">
	{{ form_widget(form) }}
    <div class="form-actions">
	   <a href="{{ path('site_show', { 'id': site.id }) }}" class="btn">{{ 'arrow-left'|icon }} Retour à la liste</a>
	   <button type="submit" class="btn btn-primary">{{ 'plus-sign'|icon(true) }} Créer</button>
	</div>
</form>
{% endblock %}



