{% extends "JLMModelBundle::layout.html.twig" %}

{% block content %}
<h1>Fiche installation</h1>
{% if entity.stopped %}
<div class="alert alert-danger"><h4>Porte à l'arrêt</h4></div>
{% endif %}

{% if entity.width and entity.height %}{{ entity.width }}x{{ entity.height }}mm</small>{% endif %}</h1>
<div class="row-fluid">
	<div class="span6">
		
		<h4><span class="text-info">{{ entity.type }} - {{ entity.location }}</span>
		<br>{{ entity.street|nl2br }}
		<br>{{ entity.site.address.city}}</h4>
		<hr>
		{% if entity.transmitters|length > 0 %}
		<h5>Types d'emetteurs
		{% if entity.transmitterCode %}
		<br><small>{{ entity.transmitterCode }}</small>
		{% endif %}</h5>
		<ul>
		{% for transmitter in entity.transmitters %}
			<li><a href="{{ path('product_show',{'id':transmitter.id}) }}">{{ transmitter }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
		<h5>Aucun emetteur</h5s>
		{% endif %}

	</div>
	
	{% if entity.googlemaps%}
	<div class="span6 well">
		<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ entity.mapsUrl }}"></iframe>
	</div>
	{% else %}
	<div class="span6 well">Pas de photo</div>
	{% endif %}
</div>
{#
{% if entity.site.contacts|length > 0 %}
<h2><small>Interlocuteurs</small></h2>
<table class="table table-striped">
<thead>
<tr>
<th>Nom</th>
<th>Rôle</th>
<th>Téléphone</th>
<th>Fax</th>
<th>e-mail</th>
</tr>
</thead>
<tbody>
{% for contact in entity.site.contacts %}
<tr>
<td><a href="{{ path('sitecontact_show',{'id':contact.id}) }}">{{ contact.person.name }}</a></td>
<td>{{ contact.role }}</td>
<td>
	<ul class="unstyled">
	{% if contact.person.fixedPhone %}<li>{{ contact.person.fixedPhone }}</li>{% endif %}
	{% if contact.person.mobilePhone %}<li>{{ contact.person.mobilePhone }}</li>{% endif %}
	</ul>
</td>
<td>{{ contact.person.fax }}</td>
<td><a href="mailto:{{ contact.person.email }}">{{ contact.person.email }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h2><small>Aucun interlocuteur</small></h2>
{% endif %}
#}



<div class="form-actions">
	<a href="{{ path('site_show', { 'id': entity.site.id }) }}" class="btn"><i class="icon-arrow-left"></i> Retour à la fiche affaire</a>
	<a href="{{ path('door_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>	
</div>
<h2><small>Contrats</small></h2>
{% include 'JLMModelBundle:Contract:list.html.twig' with { 'contracts':contracts } %}
<div class="form-actions">
	<a href="{{ path('contract_new', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Ajouter un contrat</a>
</div>
{% endblock %}