{% extends "JLMModelBundle::layout.html.twig" %}

{% block content %}
<h1>Fiche installation</h1>
{% if entity.stopped %}
<div class="alert alert-danger"><h4>Porte à l'arrêt</h4></div>
{% endif %}

{% if entity.width and entity.height %}{{ entity.width }}x{{ entity.height }}mm</small>{% endif %}</h1>
<div class="row-fluid">
	<div class="span6">
		
		<h4><span class="text-info">{{ entity.type }} - {{ entity.location }}</span>
		<br>{{ entity.street|nl2br }}
		<br>{{ entity.site.address.city}}</h4>
		<hr>
		{% if entity.transmitters|length > 0 %}
		<h5>Types d'emetteurs
		{% if entity.observations %}
		<br><small>{{ entity.observations }}</small>
		{% endif %}</h5>
		<ul>
		{% for transmitter in entity.transmitters %}
			<li><a href="{{ path('product_show',{'id':transmitter.id}) }}">{{ transmitter }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
		<h5>Aucun emetteur</h5s>
		{% endif %}

	</div>
	<div class="span6 well">
	{% if entity.googlemaps%}
	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ entity.mapsUrl }}"></iframe>
		
	{% else %}
	Pas de photo
	{% endif %}
	</div>
</div>

<div class="form-actions">
	<a href="{{ path('site_show', { 'id': entity.site.id }) }}" class="btn"><i class="icon-arrow-left"></i> Retour à la fiche affaire</a>
	<a href="{{ path('door_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>	
</div>
<h2><small>Contrats</small></h2>
{% include 'JLMContractBundle:Contract:list.html.twig' with { 'contracts':contracts } %}
<div class="form-actions">
	<a href="#modalNew" class="btn btn-success" role="button" data-toggle="modal"><i class="icon-plus-sign icon-white"></i> Ajouter un contrat</a>
</div>
{% endblock %}

{% block modals%}
{% include 'JLMContractBundle:Contract:new.html.twig' with {'entity':entity,'form':form_contractNew } %}
{% for key,contract in contracts %}
	{% include 'JLMContractBundle:Contract:edit.html.twig' with {'entity':contract,'edit_form':form_contractEdits[key] } %}
	{% include 'JLMContractBundle:Contract:stop.html.twig' with {'entity':contract,'form':form_contractStops[key] } %}
{% endfor %}
{% endblock modals%}

{% block javascripts %}
{{ parent() }}
{{ form_javascript(form_contractNew) }}
{% for form in form_contractEdits %}
{{ form_javascript(form) }}
{% endfor %}
{% for form in form_contractStops %}
{{ form_javascript(form) }}
{% endfor %}
{% endblock %}