{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>Chiffrage</h1>

<div class="row-fluid">
    <div class="span5">
        <strong>Suivi par {{ entity.followerCp }}</strong>
        <br>{{ entity.doorCp | nl2br }}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    {% if entity.quote %}<th>Devis n°</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.creation|date('d/m/Y') }}</td>
                    <td>{{ entity.quote.number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span5 offset2 well">
        {{ entity.trusteeName }}
        <br>{{ entity.trusteeAddress | nl2br  }}
        <br>
        <br>à l'attention de {{ entity.contactCp }}
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Réf.</th>
            <th>Designation</th>
            <th>Qté</th>
            <th>PA HT</th>
            <th>Remise Fournisseur</th>
            <th>Frais</th>
            <th>Port</th>
            <th>PV HT</th>
        </tr>
    </thead>
    <tbody>
    {% for line in entity.lines %}
        <tr>
            <td>{{ line.reference }}</td>
            <td>{{ line.designation }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{ line.purshase|number_format(2,',',' ') }} €</td>
            <td>{{ (line.discountSupplier*100)|number_format(0,',',' ') }} %</td>
            <td>{{ (line.expenseRatio*100)|number_format(1,',',' ') }} %</td>
            <td>{{ line.shipping|number_format(2,',',' ') }} €</td>
            <td>{{ (line.vat*100)|number_format(1,',',' ') }} %</td>
            {#<td>{{ line.sellPrice|number_format(2,',',' ') }} €</td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>{#
<div class="row-fluid">
    <div class="span4 offset8">
    <table class="table table-bordered">
    	<tbody>
    		<tr>
    			<th>Total H.T.</th>
    			<td>{{ entity.totalPrice|number_format(2,',',' ') }} €</td>
    		</tr>
    		<tr>
    			<th>Total TVA</th>
    			<td>{{ entity.totalVat|number_format(2,',',' ') }} €</td>
    		</tr>
    		<tr>
    			<th>Total à régler</th>
    			<td>{{ entity.totalPriceAti|number_format(2,',',' ') }} €</td>
    		</tr>
    	</tbody>
    </table>
    </div>
</div>
 #}
<div class="form-actions">
	<a href="{{ path('coding') }}" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	<a href="{{ path('coding_pdf', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-print icon-white"></i> Imprimer</a>
	<a href="{{ path('coding_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
	<a href="{{ path('coding', { 'id': entity.id }) }}" class="btn btn-primary"><i class="icon-ok icon-white"></i> Faire le devis</a>
</div>
{% endblock %}