{# JLMDailyBundle::layout.html.twig #}
{% set section = 'daily' %}
{% extends "::layout.html.twig" %}

{% form_theme layout.form_search _self %}
{% block submit_widget %}
{% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-default')|trim}) %}
<button type="{{ type|default('submit') }}" {{ block('button_attributes') }}><span class="glyphicon glyphicon-search"></span></button>
{% endblock %}

{% block title %}Journal de bord | {{ parent() }}{% endblock %}

{% block nav_search_bar %}
<form role="search" action="{{ path('daily_search') }}" method="post" class="navbar-form navbar-left">
    		  <div class="input-group">
				{{ form_widget(layout.form_search.query) }}
				<span class="input-group-btn">
                  {{ form_widget(layout.form_search.submit) }}
                </span>
			  </div>
			  {{ form_rest(layout.form_search) }}
    		</form>
{% endblock nav_search_bar %}

    {% block sidebar %}
    </ul>
    <div class="panel panel-default">
      <div class="panel-heading">Journal de bord</div>
      <ul class="list-group">
    	<li class="list-group-item dropdown">
    	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    	    <span class="glyphicon glyphicon-user"></span> Horaires techniciens <span class="caret"></span>
    	  </a>
    	    <ul class="dropdown-menu">
              <li><a href="{{ path('shifting_list', {'id':6}) }}">Cyrille</a></li>
		      <li><a href="{{ path('shifting_list', {'id':5}) }}">Christophe</a></li>
		      <li><a href="{{ path('shifting_list', {'id':4}) }}">Oscar</a></li>
		    </ul>
		  </li>
	    
	    <li class="list-group-item"><a href="#modalNewShift" data-toggle="modal"><i class="glyphicon glyphicon-plus-sign"></i> Récupération matériel</a>
		{{ render(controller('JLMDailyBundle:Equipment:new')) }}</li>
	    <li class="list-group-item"><a href="#modalNewStandby" data-toggle="modal"><i class="glyphicon glyphicon-plus-sign"></i> Astreinte</a>
		{{ render(controller('JLMDailyBundle:Standby:new')) }}</li>
		<li class="list-group-item"><a href="{{ path('standby') }}"><i class="glyphicon glyphicon-list"></i> Liste des astreintes</a>
		<li class="list-group-item"><a href="{{ path('intervention_printtomorrow') }}"><i class="glyphicon glyphicon-print"></i> Demain</a></li>
		</ul>
	  </div>
	  <div class="panel panel-default">
        <div class="panel-heading">Interventions</div>
	    <ul class="list-group">
		  <li class="list-group-item">{% include 'JLMDailyBundle:Default:datesearch.html.twig' with {'form':layout.form_searchByDate} %}</li>
		  {{ render(controller('JLMDailyBundle:Default:sidebar')) }}
		</ul>
	  </div>	
	{% endblock sidebar %}

{% block javascripts %}
{{ parent() }}
{{ form_javascript(layout.form_searchByDate) }}
<script src="{{ asset("bundles/jlmdaily/js/intervention.js") }}"></script>
<script>
$(".interventionForm").intervention({
	 autoSource:'{{ path('autocomplete') }}'
});
</script>
{% endblock %}