{# JLMDailyBundle::layout.html.twig #}
{% extends "::layout.html.twig" %}

{% block container %}
    <div class="row-fluid">
	    <div class="span2">
		    {% block sidebar %}
		    <ul class="nav nav-list affix">
		    	<li><h4>Journal de bord</h4></li>
		    	<li>
		    		<form  action="{{ path('daily_search') }}" method="post" class="form-search">
						<input type="text" class="search-query input-medium" name="query" placeholder="Rechercher...">
			    	</form>
			    </li>
			    <li class="nav-header">Techniciens</li>
			    <li><a href="{{ path('shifting_list', {'id':6}) }}"><i class="icon-user"></i> Cyrille</a></li>
			    <li><a href="{{ path('shifting_list', {'id':5}) }}"><i class="icon-user"></i> Christophe</a></li>
			    <li><a href="{{ path('shifting_list', {'id':4}) }}"><i class="icon-user"></i> Oscar</a></li>
			    <li class="nav-header">Ajouter</li>
			    <li><a href="#modalNewShift" data-toggle="modal"><i class="icon-plus-sign"></i> Récupération matériel</a>
				{% render 'JLMDailyBundle:Equipment:new' %}</li>
			    <li><a href="#modalNewStandby" data-toggle="modal"><i class="icon-plus-sign"></i> Astreinte</a>
				{% render 'JLMDailyBundle:Standby:new' %}</li>
				<li><a href="{{ path('standby') }}"><i class="icon-list"></i> Liste des astreintes</a>
				
			    <li class="nav-header">Interventions</li>
				{% render "JLMDailyBundle:Default:datesearch" %}
				{% render "JLMDailyBundle:Default:sidebar" %}
			</ul>
		    {% endblock sidebar %}
	    </div>
	    <div class="span10">
            {% block content %}
            {% endblock content %}
	    </div>
    </div>
{% endblock container %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmdaily/js/intervention.js") }}"></script>
<script>
$("body").intervention({
	 autoSource:'{{ path('autocomplete') }}'
});
</script>
{% endblock %}