{# JLMDailyBundle::layout.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}Journal de bord | {{ parent() }}{% endblock %}

    {% block sidebar %}
    	<li><h4>Journal de bord</h4></li>
    	<li>{{ form(search.form, {'action': path('daily_search')}) }}</li>
	    <li class="nav-header">Techniciens</li>
	    <li><a href="{{ path('shifting_list', {'id':6}) }}"><i class="icon-user"></i> Cyrille</a></li>
	    <li><a href="{{ path('shifting_list', {'id':5}) }}"><i class="icon-user"></i> Christophe</a></li>
	    <li><a href="{{ path('shifting_list', {'id':4}) }}"><i class="icon-user"></i> Oscar</a></li>
	    <li class="nav-header">Ajouter</li>
	    <li><a id="shift-new" data-toggle="modal" href="{{ path('equipment_new') }}"><i class="icon-plus-sign"></i> Récupération matériel</a></li>
	    <li><a id="standby-new" data-toggle="modal" href="{{ path('standby_new') }}"><i class="icon-plus-sign"></i> Astreinte</a></li>
		<li><a href="{{ path('standby') }}"><i class="icon-list"></i> Liste des astreintes</a>
	    <li class="nav-header">Interventions</li>
		{% include 'JLMDailyBundle:Default:datesearch.html.twig' with {'form':layout.form_searchByDate} %}
		{% include 'JLMDailyBundle:Default:sidebar.html.twig' %}
		<li class="nav-header">Imprimer</li>
		<li><a href="{{ path('intervention_printtomorrow') }}"><i class="icon-print"></i> Demain</a></li>
	{% endblock sidebar %}

{% block javascripts %}
{{ parent() }}
{{ form_javascript(layout.form_searchByDate) }}
<script src="{{ asset("bundles/jlmdaily/js/intervention.js") }}"></script>
<script>
$(".interventionForm").intervention({
	 autoSource:'{{ path('autocomplete') }}'
});
$("#standby-new").formModal();
$("#shift-new").formModal();
$(".fixing-new").formModal();
$(".shifting-edit").formModal();
$(".shifting-new").formModal();
</script>
{% endblock %}