{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>{{ entity.type }}
{% if entity.width and entity.height %}<small>{{ entity.width }}x{{ entity.height }}mm</small>{% endif %}</h1>
<div class="row-fluid">
	<div class="span6">
		<address>
		<strong>Affaire</strong>
		<br>{{ entity|nl2br}}
		<br><strong>Accès :</strong>
		<br>{{ entity.street|nl2br }}
		</address>
		
{% if entity.transmitters|length > 0 %}
<h2>Types d'emetteurs</h2>
<ul>
{% for transmitter in entity.transmitters %}
<li><a href="{{ path('product_show',{'id':transmitter.id}) }}">{{ transmitter }}</a></li>
{% endfor %}
</ul>
{% else %}
<h2><small>Aucun emetteur</small></h2>
{% endif %}
{% if entity.site.contacts|length > 0 %}
<h2>Interlocuteurs</h2>
<table class="table table-striped">
<thead>
<tr>
<th>Nom</th>
<th>Rôle</th>
<th>Téléphone</th>
<th>Fax</th>
<th>e-mail</th>
</tr>
</thead>
<tbody>
{% for contact in entity.site.contacts %}
<tr>
<td><a href="{{ path('sitecontact_show',{'id':contact.id}) }}">{{ contact.person.name }}</a></td>
<td>{{ contact.role }}</td>
<td>
	<ul class="unstyled">
	{% if contact.person.fixedPhone %}<li>{{ contact.person.fixedPhone }}</li>{% endif %}
	{% if contact.person.mobilePhone %}<li>{{ contact.person.mobilePhone }}</li>{% endif %}
	{% if contact.professionnalPhone %}<li>{{ contact.professionnalPhone }}</li>{% endif %}
	</ul>
</td>
<td>{{ contact.person.fax }}</td>
<th><a href="mailto:{{ contact.person.email }}">{{ contact.person.email }}</a></th>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h2><small>Aucun interlocuteur</small></h2>
{% endif %}
	</div>
	
	{% if entity.googlemaps%}
	<div class="span6 well">
<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ entity.mapsUrl }}"></iframe>

{#		<address>
			<strong>Adresse de facturation</strong><br>
			{% if entity.site.trustee.billingaddress %}
			{{ entity.site.trustee.billingaddress.street }}<br>
			{{ entity.site.trustee.billingaddress.city.zip }} {{ entity.site.trustee.billingaddress.city.name }}<br>
			{{ entity.site.trustee.billingaddress.city.country }}<br>
			{% else %}
			{{ entity.site.trustee.address.street }}<br>
			{{ entity.site.trustee.address.city.zip }} {{ entity.site.trustee.address.city.name }}<br>
			{{ entity.site.trustee.address.city.country }}<br>
			{% endif %}
		</address>
		#}
	</div>
	{% else %}
	<div class="span6"></div>
	{% endif %}
</div>


<div class="form-actions">
	<a href="{{ path('site_show', { 'id': entity.site.id }) }}" class="btn"><i class="icon-arrow-left"></i> Retour à la fiche affaire</a>
	<a href="{{ path('door_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Editer</a>
</div>

{% endblock %}