{% extends "JLMOfficeBundle:Askquote:layout.html.twig" %}

{% form_theme form _self %}
{% block _askquote_creation_row %}
<div class="row">
<div class="col-lg-2">
{{ block('form_label') }}
</div>
<div class="col-lg-1">
{{ block('form_widget') }}
</div>
</div>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Nouvelle demande de devis</h1>
</div>
{% if form_errors(form) %}
<div class="alert">{{ form_errors(form) }}</div>
{% endif %}
<form action="{{ path('askquote_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	<filedset>
    {{ form_widget(form) }}
	    <div class="form-actions">
	    	<button type="submit" class="btn btn-primary">Enregistrer</button>
	    </div>
    </filedset>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/jlmoffice/js/askquote.js") }}"></script>
<script>
$("body").askquote({
	 autoSource:'{{ path('autocomplete') }}',
	 autoSourceDoor:'{{ path('autocomplete_doorsite') }}'
});
</script>
{% endblock %}