<li><a href="{{ path('askquote') }}"><span class="badge badge-inverse">{{ askquotecount.all }}</span> Toutes</a></li>
<li><a href="{{ path('askquote', { state: 'untreated' }) }}"><span class="badge badge-warning">{{ askquotecount.untreated }}</span> Non traitées</a></li>
<li><a href="{{ path('askquote', { state: 'treated' }) }}"><span class="badge badge-success">{{ askquotecount.treated }}</span> Traitées</a></li>