<li><a href="{{ path('askquote') }}"><span class="badge badge-inverse">{{ all }}</span> Toutes</a></li>
<li><a href="{{ path('askquote_listuntreated') }}"><span class="badge badge-warning">{{ untreated }}</span> Non traitées</a></li>
<li><a href="{{ path('askquote_listtreated') }}"><span class="badge badge-success">{{ treated }}</span> Traitées</a></li>