<li><a href="{{ path('askquote') }}"><span class="badge badge-inverse">{{ askquotecount.all }}</span> Toutes</a></li>
<li><a href="{{ path('askquote_listuntreated') }}"><span class="badge badge-warning">{{ askquotecount.untreated }}</span> Non traitées</a></li>
<li><a href="{{ path('askquote_listtreated') }}"><span class="badge badge-success">{{ askquotecount.treated }}</span> Traitées</a></li>