<li class="list-group-item"><a href="{{ path('askquote') }}"><span class="badge pull-right">{{ count.all }}</span> Toutes</a></li>
<li class="list-group-item"><a href="{{ path('askquote_listuntreated') }}"><span class="badge pull-right">{{ count.untreated }}</span> Non traitées</a></li>
<li class="list-group-item"><a href="{{ path('askquote_listtreated') }}"><span class="badge pull-right">{{ count.treated }}</span> Traitées</a></li>