{% block jlm_modelbundle_doortype_widget %}
{% if form_errors(form) %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Erreurs :</strong><br>{{ form_errors(form) }}
</div>
{% endif %}
<fieldset>
<legend>Intallation</legend>
{{ form_row(form.site) }}
{{ form_row(form.location) }}
{{ form_row(form.street) }}
{{ form_row(form.billingPrelabel) }}
{{ form_row(form.googlemaps) }}
</fielset>
<fieldset>
<legend>Détails</legend>
{{ form_row(form.lastMaintenance) }}
{{ form_row(form.type) }}
{{ form_row(form.width) }}
{{ form_row(form.height) }}
{{ form_row(form.transmitters) }}
</fieldset>
{{ form_rest(form) }}
{% endblock %}