{% block product_widget %}
{{ form_row(form.reference) }}
{{ form_row(form.barcode) }}
{{ form_row(form.category) }}
{{ form_row(form.designation) }}
{{ form_row(form.description) }}
{{ form_row(form.supplier) }}
{{ form_row(form.unity) }}
<table class="table">
	<thead>
		<tr>
			<th>{{ form.purchase.vars.label }}</th>
			<th>{{ form.discountSupplier.vars.label }}</th>
			<th>{{ form.expenseRatio.vars.label }}</th>
			<th>{{ form.shipping.vars.label }}</th>
			<th>{{ form.margin.vars.label }}</th>
			<th>Prix de vente HT</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ form_widget(form.purchase) }}</td>
			<td>{{ form_widget(form.discountSupplier) }}</td>
			<td>{{ form_widget(form.expenseRatio) }}</td>
			<td>{{ form_widget(form.shipping) }}</td>
			<td>{{ form_widget(form.margin) }}</td>
			<td>
	    			<div class="input-append"><span class="input-small uneditable-input" id="product_unitPrice">0,00</span><span class="add-on">€</span></div>
	    		</td>
		</tr>
	</tbody>
</table>
{{ form_rest(form) }}
{% endblock product_widget %}