{% block jlm_modelbundle_doortype_widget %}
{% if form_errors(form) %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Erreurs :</strong><br>{{ form_errors(form) }}
</div>
{% endif %}
<fieldset>
	<legend>Intallation</legend>
	{{ form_row(form.site) }}
	{{ form_row(form.location) }}
	{{ form_row(form.street) }}
	{{ form_row(form.billingPrelabel) }}
	{{ form_row(form.googlemaps) }}
	<a href="https://www.google.fr/maps/@48.660598,2.5633885,14z">Google Maps</a>
</fielset>
<fieldset>
	<legend>Détails</legend>
	{{ form_row(form.type) }}
	{{ form_row(form.width) }}
	{{ form_row(form.height) }}
	{{ form_row(form.transmitters) }}
</fieldset>
{{ form_rest(form) }}
{% endblock %}

{% block genemu_jqueryselect2_javascript %}

    <script type="text/javascript">
        $field = $('#{{ id }}');

        var $configs = {{ configs|json_encode|raw }};

        // custom configs
        $configs = $.extend($configs, {
        	minimumInputLength: 1,
        	formatResult: function(state) {
            	return "<p>" + state.text.replace(new RegExp('\n','g'),'<br>') + "</p>";
            },
            formatSelection: function(state) {
            	return state.text.replace(new RegExp('\n','g'),' / ');
            },
        });
        // end of custom configs

        $field.select2($configs);
    </script>

{% endblock %}