{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block search %}
  {{ form(search.form, {'action': path('bill_search')}) }}
{% endblock %}

{% block sidebar %}
	<li><h4>Factures</h4></li>
    <li><a href="{{ path('bill_new') }}">{{ 'plus-sign'|icon }} Nouvelle facture</a></li>
    <li class="divider"></li>
    <li class="nav-header">Etats</li>
    {% include 'JLMCommerceBundle:Bill:sidebar.html.twig' %}
    <li class="divider"></li>
    <li><a href="{{ path('bill_toboost') }}">{{ 'list'|icon }} Liste des relances</a></li>
    <li><a href="{{ path('bill_printlist') }}">{{ 'print'|icon }} Imprimer les factures à faire</a></li>
{% endblock sidebar %}