{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block search %}
  {{ form(search.form, {'action': path('bill_search')}) }}
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
  <div class="panel-heading">Factures</div>
  <div class="list-group">
    <a href="{{ path('bill_new') }}" class="list-group-item">{{ 'plus-sign'|icon }} Nouvelle facture</a>
    <a href="{{ path('bill_toboost') }}" class="list-group-item">{{ 'list'|icon }} Liste des relances</a>
    <a href="{{ path('bill_printlist') }}" class="list-group-item">{{ 'print'|icon }} Imprimer les factures à faire</a>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Etats</div>
    {% include 'JLMCommerceBundle:Bill:sidebar.html.twig' %}
</div>
{% endblock sidebar %}