<div class="list-group">
<a href="{{ path('bill_todo') }}" class="list-group-item">A faire {{ billcount.todo|badge }}</a>
<a href="{{ path('bill', {'state':'all'}) }}" class="list-group-item">Toutes {{ billcount.all|badge }}</a>
<a href="{{ path('bill', {'state':'in_seizure'}) }}" class="list-group-item">En saisie {{ billcount.input|badge }}</a>
<a href="{{ path('bill', {'state':'sended'}) }}" class="list-group-item">Envoyée {{ billcount.send|badge }}</a>
<a href="{{ path('bill', {'state':'payed'}) }}" class="list-group-item">Réglées {{ billcount.payed|badge }}</a>
<a href="{{ path('bill', {'state':'canceled'}) }}" class="list-group-item">Annulées {{ billcount.canceled|badge }}</a>
</div>
