<table class="table table-hover">
	<thead>
		<tr>
			<th>Adresse</th>
			<th>Date d'attribution</th>
			<th>Numéro</th>
			<th>Groupe</th>
			<th>Type</th>
			<th>Fin de garantie</th>
			<th>Propriétaire</th>
		</tr>
	</thead>
	<tbody>
	{% for transmitter in transmitters %}
		<tr>
			<td>{{ transmitter.userGroup.site.address | nl2br }}</td>
			<td><a href="{{ path('transmitter_attribution_show',{'id':transmitter.attribution.id}) }}">{{ transmitter.attribution.creation | date('d/m/Y') }}</td>
			<td>
				{% if transmitter.replacedTransmitter %}<a href="#" data-toggle="tooltip" title="Remplacé par le {{ transmitter.replacedTransmitter.number }}">{% endif %}
					{% if not transmitter.isActive %}<del>{% endif %}
						{{ transmitter.number }}
					{% if not transmitter.isActive %}</del>{% endif %}
				{% if transmitter.replacedTransmitter %}</a>{% endif %}
				
				{% if transmitter.replace %}
					<i class="icon-refresh"></i>
					<del>{{ transmitter.replace.number }}</del>
				{% endif %}
			</td>
			<td>{{ transmitter.userGroup.name }}</td>
			<td>{{ transmitter.model.text }}</td>
			<td>{{ transmitter.endGuaranteeDate|date('t/m/Y') }}</td>
			<td>{{ transmitter.userName }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>