<table class="table table-hover">
	<thead>
		<tr>
			<th>Numéro</th>
			<th>Groupe</th>
			<th>Type</th>
			<th>Fin de garantie</th>
			<th>Propriétaire</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for transmitter in transmitters %}
		<tr>
			<td>
				{% if transmitter.replacedTransmitter %}<a href="#" data-toggle="tooltip" title="Remplacé par le {{ transmitter.replacedTransmitter.number }}">{% endif %}
					{% if not transmitter.isActive %}<del>{% endif %}
						{{ transmitter.number }}
					{% if not transmitter.isActive %}</del>{% endif %}
				{% if transmitter.replacedTransmitter %}</a>{% endif %}
				
				{% if transmitter.replace %}
					{{ 'refresh'|icon }}
					<del>{{ transmitter.replace.number }}</del>
				{% endif %}
			</td>
			<td>{{ transmitter.userGroup.name }}</td>
			<td>{{ transmitter.model.text }}</td>
			<td>{{ transmitter.endGuaranteeDate|date('t/m/Y') }}</td>
			<td>{{ transmitter.userName }}</td>
			<td>
				<a href="{{ path('transmitter_edit', {'id': transmitter.id }) }}" role="button" class="btn btn-warning  btn-mini transmitter-edit" data-toggle="modal tooltip" title="Éditer">{{ 'wrench'|icon(true) }}</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>